<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="UTF-8">
<title>T-Mobile Official Website - Home Page</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/lift-shift-comp.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script> 
<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>

<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>
<!--desktop background-->
<div class="background-dsk"></div>
<!--/desktop background-->

<!--Header Section Start-->
<header id="header_body" class="header">
</header>
<!--/Header Section--> 

<!--Main Content Section Start-->
<main class="container home">
	<!--hero comp-->
	<div class="row">
		<!--text-button-vertical component-->
		<div class="col-xs-12 pb30-xs">
			<section class="co_hero background-mob">
				<div class="row">
					<div class="col-xs-6 col-xs-push-3 col-sm-8 col-sm-push-2 col-ph-12 col-ph-push-0 text-center">
						<h1 class="mt25 mb25">Wireless that works for your business</h1>
						<p class="text-center ">
							T-Mobile gives you wireless without service sontacts, roaming chrges, liits or overages on our network, and no wait for upgrades.
						</p>
					</div>
				</div>
				<div class="row learn-more">
					<div class="col-ph-12 col-ph-push-0 col-xs-6 col-xs-push-3">
						<a href="javascript:void(0)" class="text-center text-uppercase btn btn-primary btn-med btn-full">Learn More</a>
					</div>
				</div>
			</section>
		</div>
		<!--text-button-vertical component-->
	</div>
	<!--/hero comp-->
	
	<!--top box-->
	<div class="row mb30-xs">
		<!--image-text-horizontal component-->
		<section class="co_img-text-horizontal col-xs-12">
			<div class="box-holder">
				<div class="row">
					<div class="col-xs-5 col-sm-6 col-xs-5">
						<figure class="mt50-xs mt0-sm img-pyramid">
							<img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/pyramid-diagram.png" alt="plans pyramid diagram">
						</figure>
					</div>
					<div class="col-xs-7 col-sm-6 col-xs-7">
						<h3>Choosing the best business plan is simple.</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, excepturi, tempore, sint, fugit numquam esse neque laboriosam iste odit beatae obcaecati id inventore molestias repellat ipsa! Hic, error possimus esse.</p>
						<a href="javascript:void(0)" class="cta">Leearn more about plans</a>
					</div>
				</div>
			</div>
		</section>
		<!--/image-text-horizontal component-->
	</div>
	<!--/top box-->
	
	<!--middle box-->
	<div class="row mb30-xs">
		<!--image-text-horizontal component-->
		<section class="co_img-text-horizontal col-xs-8">
			<div class="box-holder">
				<div class="row">
					<div class="col-md-5 mt50-md mt0-lg img-globe text-center text-right-md">
						<img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/globe.png" alt="globe">
					</div>
					<div class="col-md-7">
						<h3>Whereever you do business, we have you covered.</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, consequuntur, similique, libero repellat harum dolorum maxime voluptates sint debitis nihil voluptatibus suscipit sapiente a. Deleniti hic doloremque possimus nulla perspiciatis.</p>
						<div>
							<a href="javascript:void(0)" class="cta">Check coverage</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/image-text-horizontal component-->
		<!--text-img-vertical component-->
		<section class="co_text-img-vertical col-xs-4">
			<div class="box-holder pl25 pr25">
				<h3 class="text-center">The latest devices without the late upgrades.</h3>
				<figure class="text-center">
					<img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/devices-image.jpg" alt="mobile devices">
				</figure>
				<div class="text-center-ph">
					<a href="javascript:void(0)" class="cta">Explore devices</a>
				</div>
			</div>
		</section>
		<!--/text-img-vertical component-->
	</div>
	<!--/middle box-->
	
	<!--bottom box-->
	<div class="row mb30-sm">
		<!--img-text-vertical components-->
		<div class="col-xs-12">
			<section class="box-holder pt0-ph pb0-ph no-border-ph">
				<div class="row">
					<section class="co_img-text-vertical col-xs-4 pt30-ph pb30-ph">
						<div class="text-center">
							<figure>
								<img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/icon-contact-large.png" alt="contact us">
							</figure>
							<div class="suhead5 mt15 mb15">Have a sales rep contact you</div>
							<a href="javascript:void(0)" class="cta">Send a request</a>
						</div>
					</section>
					<hr class="full-width border-top-dotted border-darker mt0 mb0 hide-sm">
					<section class="co_img-text-vertical col-xs-4 border-left-sm border-right-sm  pt30-ph pb30-ph">
						<div class="text-center">
							<figure>
								<img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/icon-tmo-large.png" alt="T-Mobile">
							</figure>
							<div class="suhead5 mt15 mb15">Call a sales rep now</div>
							<a href="tel:1-877-334-7144" class="cta">1-877-334-7144</a>
						</div>
					</section>
					<hr class="full-width border-top-dotted border-darker mt0 mb0 hide-sm">
					<section class="co_img-text-vertical col-xs-4 pt30-ph pb30-ph">
						<div class="text-center">
							<figure>
								<img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/icon-globe-large.png" alt="Globe">
							</figure>
							<div class="suhead5 mt15 mb15">Come visit us</div>
							<a href="javascript:void(0)" class="cta">Find a store</a>
						</div>
					</section>
					<hr class="full-width border-top-dotted border-darker mt0 mb0 hide-xs">
				</div>
			</section>
		</div>
		<!--img-text-vertical components-->
	</div>
	<!--/bottom box-->
	
</main>
<!--/Main Content Section--> 

<!--Footer Section Start-->
<footer>
	<div id="footer" class="pt30-md">
		<div class="">
			<section class="row top-section">
				<ul class="list-unstyled accordion mb0 clearfix">
					<li class="col-md-3 title">
						<div class="container">
							<a href="javascript:void(0)" class="subhead4">CUSTOMER SUPPORT</a>
							<div class="detail mt30">
								<ul class="list-unstyled cta-footer">
									<li class="mb20">Existing Customer Support <br> 1-877-347-2127</li>
									<li class="mb20"><a href="javascript:void(0);">Find a Store</a></li>
									<li class="mb20"><a href="#">Account Services</a></li>
									<li><a href="#">Goverment support</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="col-md-3 title">
						<div class="container">
							<a href="javascript:void(0)" class="subhead4">EMPLOYEE DISCOUNTS</a>
							<div class="detail mt30">
								<ul class="list-unstyled cta-footer">
									<li class="mb20"><a href="#">Check Eligibility</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="col-md-3 title pr0-md">
						<div class="container">
							<a href="javascript:void(0)" class="subhead4">SOLUTIONS & RESOURCES</a>
							<div class="detail mt30">
								<ul class="list-unstyled cta-footer">
									<li class="mb20"><a href="#">Mobile Device Management <br>(MDM)</a></li>
									<li class="mb20"><a href="#">Machine-to-Machine (M2M)</a></li>
									<li class="mb20"><a href="#">Wi-Fi Calling</a></li>
									<li class="mb20"><a href="#">Government Solutions</a></li>
									<li class="mb20"><a href="#">Government eRate</a></li>
									<li><a href="#">Government Purchasing</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="col-md-3 title">
						<div class="container">
							<a href="javascript:void(0)" class="subhead4">PARTNERS</a>
							<div class="detail mt30">
							<ul class="list-unstyled cta-footer">
								<li class="mb20"><a href="#">Resellers</a></li>
							</ul>
							</div>
						</div>
					</li>
				</ul>
			</section>
		</div>
		<hr class="border-top-dotted hide show-md border-gray mt30 mb0">
		<div class="container">
			<section class="bottom-section mt30 mt0-md pt25 pt15-ph mb30-md row">
				<div class="col-md-5 col-md-push-7">
					<div class="row">
						<div class="col-md-12 text-right network-line social-networks">
							<span class="pr15 pr10-ph"><a href="javascript:void(0)"><img alt="icon-twitter" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/icon-twitter.png"></a></span>
							<span class="pr15 pr10-ph"><a href="javascript:void(0)"><img alt="icon-linkedIn" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/icon-linkedin.png"></a></span>
							<span class="pr15 pr10-ph"><a href="javascript:void(0)"><img alt="icon-facebook" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/icon-facebook.png"></a></span>
							<span class="pr15 pr10-ph"><a href="javascript:void(0)"><img alt="icon-google" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/icon-google.png"></a></span>
							<span class=""><a href="javascript:void(0)"><img alt="icon-youtube" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/icon-youtube.png"></a></span>
							<span class="spanish"><a href="" class="ml20 ml25-ph">ESPAÑOL</a></span>
						</div>
					</div>
					<p class="text-right copyright pt15-ph pt20 pt25-md">&copy;2002-2014 T-MOBILE USA, INC.</p>
				</div>
				<div class="col-md-7 col-md-pull-5 mt0-md">
					<div class="row">
						<div class="col-xs-12 col-sm-11 col-md-12 col-ph-5 mt5 mt25-ph mb20-ph mt0-md pr50-sm pr30-md">
							<nav>
								<a href="#" class="pr15 pr20-sm">ABOUT</a>
								<a href="#" class="pr15 pr20-sm">INVESTOR RELATIONS</a>
								<a href="#" class="pr15 pr20-sm">PRESS</a>
								<a href="#" class="pr15 pr20-sm">JOBS</a>
								<a href="#" class="pr15 pr20-sm">DEUTSCHE TELEKOM</a>
								<a href="#" class="pr15 pr20-sm">PUERTO RICO</a>
								<a href="#" class="pr15 pr20-sm">PERSONAL</a>
							</nav>
						</div>
						<div class="col-xs-12 col-ph-7 legal mt20">
								<a href="#" class="mr15">PRIVACY POLICY</a>
								<a href="#" class="mr15">PRIVACY RESOURCES</a>
								<a href="#" class="mr15">CONSUMER INFORMATION</a>
								<a href="#" class="mr15">PUBLIC SAFETY/911</a>
								<a href="#" class="mr15">TERMS &amp; CONDITIONS</a>
								<a href="#" class="mr15">TERMS OF USE</a>
								<a href="#" class="mr15">ACCESSIBILITY</a>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</footer>
<!--/Footer Section--> 

</body>
</html>