<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>T-Mobile Official Website - Home Page</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../../../../../../../../Rebellion/etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script>
<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>
</head>

<body>
<!--Header Section Start-->
<header id="header_body" class="header">
	<div id="header-adv" class="advanced"> 
		<!-- top-nav -->
		<div class="top-nav clearfix text-14">
			<div class="container">
				<div class="clearfix pt10 pb10">
					<div class="pull-left"> <span class="color-gray-dark text-shadow-white text-light pr20">Welcome to the T-Mobile personal site.</span> <br class="hide-sm">
						<a href="#" class="text-shadow-white text-bold"> Looking for the business site?</a> </div>
					<a href="#" class="close-button mt10-ph pull-right text-uppercase text-small color-gray-dark pr10"><span class="close-icon"></span><span class="hide-ph ml5">Close</span></a> </div>
			</div>
		</div>
		<!-- /top-nav --> 
		
		<!--main nav-->
		<div class="container">
			<nav role="navigation"> 
				<!--nav-header-->
				<div class="nav-header pull-left"> <a class="tmo-logo pull-left pt15 mr25 mr10-ph" href="#"><img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/tmobile-logo.png" alt="T-Mobile Logo"></a> </div>
				<!--/nav-header--> 
				<!--nav-collapse -->
				<div class="nav-collapse clearfix"> 
					<!--nav-right-->
					<ul class="nav nav-right pull-right mr-10 clearfix">
						<li data-sub-target=".search-list" class="nav-icon pull-left search-icon"></li>
						<li data-sub-target=".store-list" class="nav-icon pull-left-xs text-center store-locator hide show-sm"><a href="#" target="_blank"> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/icon-store.png" alt="store locator" class="hide show-xs"></a></li>
						<li class="pull-left shopping-cart pl5-ph"><a href="#"><img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/icon-header-cart.png" alt="shopping cart" class="ml-10-ph"></a></li>
						<li data-sub-target=".mytmob-list" class="nav-icon pull-right-xs text-center my-tmo mr10 hide show-sm"></li>
						<li class="hide-sm pull-right pl5-ph"><a href="javascript:void(0)" class="hide-md">
							<div data-sub-target=".mytmob-list" class="nav-humb nav-icon ml-10-ph"></div>
							</a> </li>
					</ul>
					<!--/nav-right--> 
					
					<!--nav-left-->
					<ul class="nav nav-left pull-left-xs">
						<li data-sub-target=".shop-list" class="left-menu pull-left-xs text-center pl10 pr10-sm pr5-xs pl20-lg pr20-lg"> <a href="javascript:void(0);" id="shop">Shop <span class="header-chevron-down"></span></a> </li>
						<li data-sub-target=".coverage-list" class="left-menu pull-left-xs text-center pl10-xs pr10-sm pr5-xs pl20-lg pr20-lg"> <a href="javascript:void(0);" id="coverage">coverage <span class="header-chevron-down"></span></a> </li>
					</ul>
					<!--nav-left--> 
				</div>
				<!--/nav-collapse --> 
			</nav>
			
			<!-- sub-nav-list Section-->
			<div class="sub-nav-group clearfix">
				<div class="sub-nav-list p0 store-list clearfix">
					<div class="pt20 pl15 pr15 pb20">
						<form class="nav-form"  autocomplete="off">
							<div class="clear">
								<div class="mb20 text-large hide show-sm">Find closet store</div>
								<input type="text" class="form-control search-input center-block hide show-sm" placeholder="You ZIP Code">
								<div class="pt10 pl5 hide show-sm"><a href="#">Find Stores</a></div>
								<div class="pl5 text-large mt20 mb10 hide show-sm">Set this location as the default</div>
								<div class="pl5 pt10 text-large cta border-top-dotted border-gray-dark hide show-sm"><a href="">Additional locations</a></div>
							</div>
						</form>
					</div>
				</div>
				<div class="clearfix hide-sm"></div>
				<div class="sub-nav-list p0 mytmob-list">
					<div class="pt30-sm pl15-sm clearfix">
						<div class="sub-listing hide-sm"><a href="#" class="cta" target="_blank">Store Locator</a></div>
						<div class="sub-listing border-bottom-dotted border-gray-light hide-sm"><a href="#" class="cta">MY T-MOBILE</a></div>
						<div class="row pb30 hide show-sm pr15">
							<div class="col-sm-6 pr5">
								<div class="login-btn"> <a href="#" class="btn btn-success btn-full btn-med">Login</a> </div>
							</div>
							<div class="col-sm-6 pl5">
								<div class="signup-btn"> <a href="#" class="btn btn-success btn-full btn-med">SIGN UP</a> </div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div>
							<ul class="list-unstyled m0 hide show-sm">
								<li class="sub-listing pt20 pb20 border-top-dotted border-gray-dark"><a href="#" class="cta">Pay my bill</a></li>
								<li class="sub-listing pt20 pb20 border-top-dotted border-gray-dark"><a target="_blank" href="#" class="cta">Add a new line</a></li>
								<li class="sub-listing pt20 pb20 border-top-dotted border-gray-dark"><a target="_blank" href="#" class="cta">Upgrade my phone</a></li>
								<li class="sub-listing pt20 pb20 border-top-dotted border-gray-dark"><a target="_blank" href="#" class="cta">Change plan or services</a></li>
								<li class="sub-listing pt20 pb20 border-top-dotted border-gray-dark"><a target="_blank" href="#" class="cta">Get support</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix hide-sm"></div>
				<div class="sub-nav-list p0 contact-list col-ph-12 clearfix">
					<div class="pt10-xs pt30-md pl30-xs pr30-xs pl0-ph pr0-ph pb30-md pl20-xs pr20-xs">
						<div class="clearfix">
							<div class="col-xs-12 col-sm-12 col-md-8 pl0 pr0 pr20-md">
								<ul class="p0 list-unstyled m-5-ph pl25-ph pr25-ph mb0-ph">
									<li class="sub-listing border-bot"><a href="http://business.t-mobile.com/contact-a-rep" class="cta">Contact Small business Rep</a></li>
									<li class="sub-listing border-bot"><a href="http://business.t-mobile.com/contact-a-rep" class="cta">Contact Enterprise rep</a></li>
									<li class="sub-listing hide-md border-bot"><a href="tel:1-877-334-7144 " class="cta">New Customer Support</a></li>
									<li class="sub-listing hide-md"><a href="tel:1-877-347-2127" class="cta">Existing Customer Support</a></li>
								</ul>
							</div>
							<div class="support-group col-md-4 pl20 border-left-md border-gray-light-md mt30 mt0-sm pr0 hidden-sm hidden-xs">
								<h6>Support</h6>
								<p class="m0"> New Customer</p>
								<a href="tel:1-000-000-0000">1-877-334-7144</a>
								<p class="mt20 mb0">Existing Customer</p>
								<a href="tel:1-000-000-0000">1-877-347-2127</a> </div>
						</div>
					</div>
				</div>
				<div class="clearfix hide-sm"></div>
				<div class="sub-nav-list p0 shop-list clearfix">
					<ul id="myTab" class="nav nav-tabs nav-pills pull-left shop-tabs" role="tablist">
						<li class="active border-bottom-dotted"><a href="http://www.t-mobile.com/cell-phones.html" data-target="#phones" role="tab" data-toggle="tab">PHONES</a></li>
						<li class="border-bottom-dotted"><a href="http://www.t-mobile.com/cell-phone-plans/individual.html" data-target="#Plans" role="tab" data-toggle="tab">PLANS</a></li>
						<li class="border-bottom-dotted hide-sm"><a href="http://www.t-mobile.com/cell-phone-plans/individual.html" data-target="#Plans" role="tab" data-toggle="tab">BRING YOUR OWN DEVICES</a></li>
						<li class="border-bottom-dotted"><a href="http://www.t-mobile.com/internet-devices.html" data-target="#Tablets" role="tab" data-toggle="tab">TABLET &amp; DEVICES</a></li>
						<li class="border-bottom-dotted"><a href="http://www.t-mobile.com/accessories.html" data-target="#accessories" role="tab" data-toggle="tab">ACCESSORIES</a></li>
						<li><a href="http://www.t-mobile.com/cell-phone-deals.html" data-target="#deals" role="tab" data-toggle="tab">DEALS</a></li>
					</ul>
					<div class="pl15-xs pr15-xs pb30-sm pb20-xs tab-content pull-left border-left hide show-sm">
						<div class="tab-pane active" id="phones">
							<ul class="list-unstyled" >
								<li class="sub-listing pt20 pb20 border-bottom-dotted"><a class="cta text-normal" href="http://www.t-mobile.com/cell-phones.html#tab-navigation" target="_blank">Shop all phones </a></li>
								<li class="sub-listing pt20 pb20 border-bottom-dotted"><a class="cta text-normal" href="http://www.t-mobile.com/cell-phones.html#tab-navigation" target="_blank">Bring your own phone</a></li>
							</ul>
							<h5 class="pt30">Featured phones</h5>
							<div class="row text-center pt20">
								<div class="col-sm-4">
									<figure> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/carousel-samsung-galaxy-s-5-gold.jpg" alt="Samsung Galaxy S%">
										<figcaption class="pt20 featured-phone">Samsung Galaxy S5</figcaption>
									</figure>
								</div>
								<div class="col-sm-4">
									<figure> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/carousel-lg-g3-metallic-black.jpg" alt="Samsung Galaxy S%">
										<figcaption class="pt20 featured-phone">LG G3</figcaption>
									</figure>
								</div>
								<div class="col-sm-4">
									<figure> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/carousel-nokia-lumia-635-all.jpg" alt="Samsung Galaxy S%">
										<figcaption class="pt20 featured-phone">Nokia Lumia 635</figcaption>
									</figure>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="Plans">
							<ul class="list-unstyled" >
								<li class="sub-listing pt20 pb20 border-bottom-dotted"><a class="cta text-normal" href="http://www.t-mobile.com/cell-phones.html#tab-navigation" target="_blank">Shop individual plans </a></li>
								<li class="sub-listing pt20 pb20 border-bottom-dotted"><a class="cta text-normal" href="http://www.t-mobile.com/cell-phones.html#tab-navigation" target="_blank">Shop family plans </a></li>
								<li class="sub-listing pt20 pb20 border-bottom-dotted"><a class="cta text-normal" href="http://www.t-mobile.com/cell-phones.html#tab-navigation" target="_blank">Shop mobile internet plans</a></li>
							</ul>
							<div class="row mt30">
								<div class="col-sm-9 text-left">
									<h2 class="text-normal color-primary"><i>The best plan in wireless is now even better</i></h2>
									<p class="mt30">No reason to wait! Our Simple Choice Plan now has double the 4G LTE data, unlimited international data and texting from 120+ countries and destinations, PLUS unlimited international texting from U.S. to virtually anywhere* all at no extra charge.</p>
									<div class="mt20"><a class="cta shop-tabs right-nav" href="#">Learn more</a></div>
									<div class="mt30 text-14">*To all countries and destinations except Wallis &amp; Futuna and St. Helena. Unlimited international text from the US will be available to Prepaid and Simple Choice no credit check at no extra charge in late April. Qualifying credit required for international roaming.</div>
								</div>
								<div class="col-sm-3 mt40-lg text-center">
									<figure class="mt50-lg mt30-sm "> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/best-plan-announcement.jpg" alt="best plan"> </figure>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="Tablets">
							<ul class="list-unstyled" >
								<li class="sub-listing pt20 pb20 border-bottom-dotted"> <a class="cta text-normal" href="http://www.t-mobile.com/cell-phones.html#tab-navigation" target="_blank">Shop all tablets &amp; internet devices </a> </li>
								<li class="sub-listing pt20 pb20 border-bottom-dotted"> <a class="cta text-normal" href="http://www.t-mobile.com/cell-phones.html#tab-navigation" target="_blank">Bring your own phone</a> </li>
							</ul>
							<h5 class="pt30">Featured phones</h5>
							<div class="row text-center pt20">
								<div class="col-sm-4">
									<figure> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/browse-apple-ipad-air-space-gray.jpg" alt="Samsung Galaxy S%">
										<figcaption class="pt20 featured-phone">Apple iPad Air</figcaption>
									</figure>
								</div>
								<div class="col-sm-4">
									<figure> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/browse-apple-ipad-air-space-gray.jpg" alt="Samsung Galaxy S%">
										<figcaption class="pt20 featured-phone">Apple iPad Air</figcaption>
									</figure>
								</div>
								<div class="col-sm-4">
									<figure> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/carousel-samsung-galaxy-note.jpg" alt="Samsung Galaxy S%">
										<figcaption class="pt20 featured-phone">Samsung Galaxy Note 10.1</figcaption>
									</figure>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="accessories">
							<ul class="list-unstyled" >
								<li class="sub-listing pt20 pb20 border-bottom-dotted"><a class="cta text-normal" href="http://www.t-mobile.com/cell-phones.html#tab-navigation" target="_blank">Shop all accessories</a></li>
							</ul>
							<h5 class="pt30">Most popular categories</h5>
							<div class="row text-center pt20">
								<div class="col-sm-4">
									<figure> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/SUPA38353-large.png" alt="Samsung Galaxy S%">
										<figcaption class="pt20 featured-phone">Chargers</figcaption>
									</figure>
								</div>
								<div class="col-sm-4">
									<figure> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/SUPM39807-large.png" alt="Samsung Galaxy S%">
										<figcaption class="pt20 featured-phone">Cases</figcaption>
									</figure>
								</div>
								<div class="col-sm-4">
									<figure> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/TMOW63754-large.png" alt="Samsung Galaxy S%">
										<figcaption class="pt20 featured-phone">Accessory Bundles</figcaption>
									</figure>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="deals">
							<ul class="list-unstyled" >
								<li class="sub-listing pt20 pb20 border-bottom-dotted"><a class="cta text-normal" href="http://www.t-mobile.com/cell-phones.html#tab-navigation" target="_blank">Shop all phone deals</a></li>
								<li class="sub-listing pt20 pb20 border-bottom-dotted"><a class="cta text-normal" href="http://www.t-mobile.com/cell-phones.html#tab-navigation" target="_blank">Shop all tablet and device details</a></li>
								<li class="sub-listing pt20 pb20 border-bottom-dotted"><a class="cta text-normal" href="http://www.t-mobile.com/cell-phones.html#tab-navigation" target="_blank">Shop all bundle deals</a></li>
								<li class="sub-listing pt20 pb20 border-bottom-dotted"><a class="cta text-normal" href="http://www.t-mobile.com/cell-phones.html#tab-navigation" target="_blank">Shop all accessory deals</a></li>
							</ul>
							<div class="row ">
								<div class="col-sm-9 mt30 text-left">
									<h5>Web-exclusive!</h5>
									<h2 class="mt20 text-normal color-primary"><i>$48 off the LG Optimus L90</i></h2>
									<div class="mt30">Save even more on this already-affordable smartphone.</div>
									<div class="mt20 right-nav"><a href="#" class="cta">Shop now</a></div>
									<div class="mt20 text-14">Total $180. 0% APR O.A.C. New line on qual'g rate plan req'd.</div>
								</div>
								<div class="col-sm-3 mt20-ph mt20-sm mt30-lg text-center">
									<figure> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/LG-Optimus-L90.jpg" alt="LG Optimus L90"> </figure>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix hide-sm"></div>
				<div class="sub-nav-list p0 coverage-list clearfix">
					<div class=" pt10 pt0-ph pl30 pr30 pl0-ph pr0-ph pb30 pb0-ph">
						<section>
							<div class="sub-listing border-top hide-sm"><a class="cta" href="#">COVERAGE</a></div>
							<div class="row hide show-sm">
								<div class="col-sm-3 mt30"> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/header-plans-4GLTE.png" alt="sarch icon"> </div>
								<div class="col-sm-9">
									<section class="row mt30">
										<h5 class="mb20">Check coverage</h5>
										<div class="form-group mr30 clearfix">
											<input type="email" class="form-control h50 col-25p col-sm-40p mr30 locator-icon" id="exampleInputEmail1" placeholder="Enter city, state or zip code">
											<button class="text-center text-uppercase btn btn-primary btn-med" type="submit">Check coverage </button>
										</div>
										<div class="clearfix border-top-dotted border-bottom-dotted mt20 mb20 pt20 pb20"><a class="cta" href="javascript:void(0)">View full coverage map</a> </div>
									</section>
									<section>
										<div class="row">
											<div class="col-sm-4">
												<div class="text-center mt20"> <img alt="The data-strong network" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/Network_interstitial.png">
													<div class="mb20 mt15"> Designed data strong </div>
													<a class="cta" href="javascript:void(0)">learn more</a> </div>
											</div>
											<hr class="full-width border-top-dotted mt20 mb20 hide-sm">
											<div class="col-sm-4 border-left-sm border-right-sm">
												<div class="text-center mt20"> <img alt="T-Mobile Test Drive Free Trial" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/coverage_icon_network_50x50.png">
													<div class="mb20 mt15"> Network enhancements </div>
													<a class="cta" href="javascript:void(0)">Continuously improving network</a> </div>
											</div>
											<hr class="full-width border-top-dotted hide-sm">
											<div class="col-sm-4">
												<div class="text-center mt20"> <img alt="T-Mobile is setting music free" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/coverage-nav-icon-4glte-50x50.png">
													<div class="mb20 mt15"> Fastest 4G LTE network </div>
													<a class="cta" href="javascript:void(0)">Fastest nationwide 4G LTE network</a> </div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</section>
					</div>
				</div>
				<div class="clearfix hide-sm"></div>
				<div class="sub-nav-list p0 search-list clearfix">
					<div class="mt20 mb20 ml15 mr15">					
						<form autocomplete="off" role="search" class="nav-form">
							<div class="clear">
								<input type="text" placeholder="Find" class="form-control search-input center-block">
								<button class="btn search-button center-block mt-10" type="submit">
									<img alt="sarch icon" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/search-btn-small.png">
								</button>
							</div>
						</form>
						
					</div>
				</div>
			</div>
			<!--/sub-nav-list Section--> 
		</div>
		<!--/main nav--> 
	</div>
</header>
