<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - About T-Mobile</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>

	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->

	<!--Main Content Section Start-->
	<main class="aoubt-tmo">
		<div class="container">

			<!--Bredcrumb Section Start-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!-- /Bredcrumb Section-->
			<h1 class="mb20-sm text-normal color-gray-dark">About T-Mobile</h1>
			<section class="box-holder pt30 pt15-ph mb30">
				<!--Banner img-->
				<figure class="text-center-lg pb35">
					<img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/about-t-mobile-banner.jpg" alt="about-t-mobile-banner" title="about-t-mobile-banner" />
				</figure>
				<!--/Banner img-->

				<!-- About Middle Starts-->
				<div class="row">
					<div class="col-sm-4 col-lg-4 pr15">
						<section class="mb30-ph">
							<h4 class="no-bold text-left lh1-2 lts0">Company information:</h4>
							<ul class="list-unstyled text-medium text-left lh2-0">
								<li><a href="#">Company Overview</a>
								</li>
								<li><a href="#">Issues and Insights Blog</a>
								</li>
								<li><a href="#">Awards</a>
								</li>
								<li><a href="#">Government and regulatory</a>
								</li>
								<li><a href="#">Investor relations</a>
								</li>
								<li><a href="#">Consumer information</a>
								</li>
							</ul>
						</section>
						<section class="mb30-ph">
							<h4 class="no-bold text-left lh1-2 lts0">Newsroom:</h4>
							<ul class="list-unstyled text-medium text-left lh2-0">
								<li><a href="#">Press Releases</a>
								</li>
							</ul>
						</section>
					</div>
					<hr class="clearfix full-width hide-sm">
					<div class="col-sm-4 col-lg-4 border-left-sm border-right-sm pr15 pl15">
						<section class="mb30-ph">
							<h4 class="no-bold text-left lh1-2 lts0">Community & sponsorships:</h4>
							<ul class="list-unstyled text-medium text-left lh2-0">
								<li><a href="#">Community</a>
								</li>
								<li><a href="#">Sponsorships</a>
								</li>
							</ul>
						</section>
						<section class="mb30-ph">
							<h4 class="no-bold text-left lh1-2 lts0">Working with T-Mobile:</h4>
							<ul class="list-unstyled text-medium text-left lh2-0">
								<li><a href="#">Jobs</a>
								</li>
								<li><a href="#">T-Mobile affiliate program</a>
								</li>
								<li><a href="#">Bidding for T-Mobile contracts</a>
								</li>
								<li><a href="#">Dealer information</a>
								</li>
								<li><a href="#">Partnering with Product Development</a>
								</li>
								<li><a href="#">Supplier Code of Conduct</a>
								</li>
							</ul>
						</section>
					</div>
					<hr class="clearfix full-width hide-sm">
					<div class="col-sm-4 col-lg-4 pl15">
						<section class="mb30-ph">
							<h4 class="no-bold text-left lh1-2 lts0">Privacy and security resources:</h4>
							<ul class="list-unstyled text-medium text-left lh2-0">
								<li><a href="#">Protect yourself from identify theft</a>
								</li>
								<li><a href="#">Account security</a>
								</li>
								<li><a href="#">Do Not Call policy</a>
								</li>
								<li><a href="#">CPNI</a>
								</li>
							</ul>
						</section>
						<section class="mb30-ph">
							<h4 class="no-bold text-left lh1-2 lts0">Legal notices:</h4>
							<ul class="list-unstyled text-medium text-left lh2-0">
								<li><a href="#">Licenses and patents</a>
								</li>
								<li><a href="#">Legal notices</a>
								</li>
							</ul>
						</section>
					</div>
				</div>
				<!--/About Middle-->
			</section>
		</div>
	</main>
	<!--/Main Content Section-->

	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->

</body>

</html>