<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Community &amp; Sponsorships</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>

	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->

	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->

			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">Community &amp; Sponsorshipsn</h3>
				<div id="contents">
					<nav>
						<ul class="list-unstyled list-inline mb30">
							<li><a data-target-content="item01" class="gray">Community Action</a>
							</li>
							<li><a data-target-content="item02" class="gray">Community Support</a>
							</li>
						</ul>
					</nav>
					<ul class="lh2-0 list-unstyled">
						<li id="item01" class="active">
							<section class="detail mt20">
								<h4 class="color-gray-dark mt30">Take Action</h4>
								<h5 class="color-gray-dark mt30 mb10">Connecting people and communities</h5>
								<p>We know you want to stay connected to the people who matter most. That is why we're committed to providing you with highly reliable wireless coverage no matter where you live, work, and play.</p>
								<p class="mt30">We live in a wireless world. Our increasingly mobile society requires an increasing number of mobile services. People now rely on their mobile phones for much more than just talking – they listen to music, send and receive e-mail, swap photos, and even contact emergency services.</p>
								<p class="mt30">We're continually working to enhance network quality, particularly in residential neighborhoods – to provide the best possible service in our customers' homes. Our customers tell us there is more work to be done and challenging obstacles to overcome. Coverage areas must be improved and network capacity expanded to handle the growing number of calls and wireless data usage.</p>
								<h5 class="color-gray-dark mt40">You can Take Action to help improve your wireless coverage</h5>
								<p class="mt10">Public officials in communities across the country make important decisions about our ability to improve our network and coverage areas. Surprisingly, the majority of local officials rarely hear from constituents who want good wireless coverage. These officials need to know that people like you depend upon your wireless handset and that having reliable wireless coverage at home and throughout your community is important to you.</p>
								<p class="mt30">T-Mobile has launched <a href="#">T-Mobile Take Action</a> so that you can help T-Mobile achieve its goal of providing you with the most outstanding, widespread wireless network possible. Sign up to become an advocate for improved wireless coverage, and we'll keep you informed about issues that may affect you.</p>
								<div class="mt30 mb30"><a href="#" class="cta">Sign up for T-Mobile Take Action</a>
								</div>
							</section>
						</li>
						<li id="item02" class="list-unstyled">
							<section id="Community Support" class="detail">
								<h4 class="color-gray-dark mt30">Community Support</h4>
								<h5 class="mt30">T-Mobile in the Community</h5>
								<p>T-Mobile USA is committed to giving back in meaningful ways to the communities where we live and work-- together, we can get involved and make a difference. With thousands of retail stores, and numerous engineering sites and call center locations nationwide, we recognize our responsibility to be a good corporate citizen. T-Mobile is proud to contribute our service, our employees’ time and expertise, and our resources to help a wide variety of causes and charitable programs. We have a history of acting quickly when natural disasters strike, helping people across the country. But T-Mobile is also there when it’s “business as usual”. Through new initiatives and partnerships, we are expanding our commitment to our communities.</p>
								<div class="row mt30 mb30">
									<div class="col-md-9 col-lg-9 col-sm-9">
										<h5>T-Mobile Huddle Up</h5>
										<p>In 2006, T-Mobile USA launched T-Mobile Huddle Up, a national community outreach program that connects kids, primarily from single-parent families in high-need, urban communities to positive people, places, and programs. Through T-Mobile Huddle Up, we invest monetary resources as well as employee time and energy in the communities where we do business. T-Mobile Huddle Up addresses the critical need for high-quality afterschool programs by providing a safe, fun place for kids to go after school.</p>
									</div>
									<div class="col-md-3 col-lg-3 col-sm-3 text-center">
										<figure class="mt20 pl30-sm mt30">
											<img alt="T-Mobile Huddle Up" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/logo_hu.gif">
										</figure>
									</div>
								</div>
							</section>
						</li>
					</ul>
				</div>
			</div>
			<!--box holder-->

		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->

</body>

</html>