<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Community &amp; Sponsorships</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>

	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->

	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->

			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">Company Information</h3>
				<div id="contents">
					<h4 class="color-gray-dark mt30">Our Mission</h4>
					<p class="mt30">To bring T-Mobile® customers together to take positive actions to help our environment.</p>
					<h5 class="mt30">T-Mobile’s Handset Recycling Program</h5>
					<p>The EPA estimates that only about 10 percent of used cell phones are turned in for reuse and recycling each year.1 For every one million cell phones we recycle, 35,284 pounds of copper, 772 pounds of silver, 75 pounds of gold and 33 pounds of palladium can be recovered.2 This equates to saving enough energy to power 185 U.S. households with electricity each year or 6.1 Metric Tons of CO2.</p>
					<ul class="list-style-disc pl5 mt30">
						<li>Reducing environmental and human health impacts from improper recycling;</li>
						<li>Increasing access to quality reusable and refurbished equipment to those who need them; and</li>
						<li>Reducing energy use and other environmental impacts associated with mining and processing of virgin materials – conserving our limited natural resources</li>
					</ul>
					<h5 class="mt30">What you can do to help</h5>
					<p>Through our handset recycling program you can take your cell phone (any make, model or carrier), cell phone batteries, accessories, tablets and netbooks to any T-Mobile location in the United States & Puerto Rico to be recycled for free.</p>
					<div><a href="#" class="cta">Find your closest T-Mobile retail store.u</a>
					</div>
					<h5 class="mt30">Protect your information</h5>
					<ul class="list-style-disc pl5 mt10">
						<li>Turn off power.</li>
						<li>Erase your address book, photos, messages and other stored information.</li>
						<li>Remove the SIM card (found in some GSM or 4G devices). If you're unsure if your device has one, contact your provider for more information.</li>
						<li>Restore the device factory settings on your device.</li>
						<li>For instructions on how to do this, go to owner's manual or on the manufacturers' web site and follow the manufacturer's instructions for deleting all personal information on your wireless device.</li>
					</ul>
					<p class="mt30">Please note that if the devise is not cleared of personal information our certified 3rd party electronics recycler has software that will automatically “wipe clean” all personal user content, which includes over 200 attributes, some of those are: Pictures, contacts, call history, e-mails, text messages, appointments, cookies and history, videos and tasks.*</p>
					<h5 class="mt30">T-Mobile’s Standards</h5>
					<p>T-Mobile USA, Inc. and our customers handle and dispose of various types of wireless phones, smartphones, accessories, and batteries. Federal and state laws regulate how batteries and devices are recycled. The T-Mobile USA, Inc. recycling program complies with those laws, and gives consumers a way to properly and safely recycle these items in order to protect themselves and the environment. Recyclables include handsets, chargers, nickel cadmium (NiCd) batteries, lithium-ion batteries, small sealed lead acid (SSLA) batteries, and nickel-metal hydride (NiMH) batteries.</p>
					<h5 class="mt30">Indiana E-Waste Program</h5>
					<p><a href="#">Learn more </a>about Indiana’s Electronic Waste (E-Waste) Program.</p>
					<p class="mt30 text-small"><em>T-Mobile and its third party electronics recycler don't guarantee the security of confidential data stored in the electronic products you recycle. </em>*</p>
					<p class="mt30 text-small">1U.S EPA. Electronics Waste Management in the United States: Approach 1. July 2007. EPA530-R-07-009</p>
					<p class="mt30 text-small">(<a href="#">http://www.epa.gov/epawaste/conserve/materials/ecycling/manage.htm</a>)</p>
					<p class="text-small">1U.S Geological Survey “Recycled Cell Phones – A Treasure Trove of Valuable Metals” (PDF) (July 2006)</p>
				</div>
			</div>
			<!--box holder-->

		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->

</body>

</html>