<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Company-Info-Awards</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->
	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->
			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">Company Information</h3>
				<ul class="nav nav-pills nav-justified mb20">
					<li data-target-content="#overview" class=""><a href="javascript:void(0)" class="text-uppercase gray">Overview<br class="hide show-sm">&nbsp;</a>
					</li>
					<li data-target-content="#awards" class="active"><a href="javascript:void(0)" class="text-uppercase gray">Awards<br class="hide show-sm">&nbsp;</a>
					</li>
					<li data-target-content="#regulatory"><a href="javascript:void(0)" class="text-uppercase gray">Government & <br class="hide show-sm">Regulatory</a>
					</li>
					<li data-target-content="#jobs"><a href="javascript:void(0)" class="text-uppercase gray">Jobs<br class="hide show-sm">&nbsp;</a>
					</li>
					<li data-target-content="#consumer"><a href="javascript:void(0)" class="text-uppercase gray">Consumer<br class="hide show-sm">&nbsp;</a>
					</li>
					<li data-target-content="#safety"><a href="javascript:void(0)" class="text-uppercase gray">Safety<br class="hide show-sm">&nbsp;</a>
					</li>
					<li data-target-content="#unlock"><a href="javascript:void(0)" class="text-uppercase gray">Sim Unlock <br class="hide show-sm">Policy</a>
					</li>
				</ul>
				<div id="contents">
					<h5 class="color-gray-dark">T-Mobile Awards and Recognition</h5>
					<p>We’re proud to be recognized as a “Best Place to Work” and “Top Employer” by industry experts, the media, and human rights organizations year after year. These awards are made possible by the individual commitments of our hard-working employees to create a great work environment.</p>
					<ul class="accordion lh2-0">
						<li id="item01" class="active">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								2014</a>
							<ul class="pl0 ml20 list-unstyled detail lh2-2">
								<li>Named a Best Place to Work for in Tampa Bay by the Tampa Bay Times/St. Petersburg Times (2014, five year consecutive win)</li>
								<li>Named a Best Place to Work for LGBT Equality by Human Rights Campaign (2014)</li>
								<li>Named one of the World's Most Innovative Companies, ranked No. 20 by Fast Company (2014)</li>
								<li>Named a Best Place to Work for in Birmingham, AL ranked No. 1 by the Birmingham Business Journal (2014, seven year non-consecutive win)</li>
								<li>Named a top 100 Military Friendly Employer ranked No. 71 by G.I. Jobs magazine (2014, seven year non-consecutive win)</li>
								<li>Named a Best Places to Work in Idaho (large company division) by the Idaho Business Review (2014, fifth year consecutive win)</li>
								<li>Recognized as one of the World's Most Ethical Companies by the Ethisphere Institute (2014, six year consecutive win)</li>
								<li>A Best Company to Work for in Oregon - Oregon Business Magazine</li>
							</ul>
						</li>
						<li id="item02">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								2013</a>
							<ul class="pl0 ml20 list-unstyled detail lh2-2">
								<li>Green Washington Award, Retail Category, Silver Placement – Seattle Business Magazine</li>
								<li>A Top 100 Military Friendly Employer, No. 71 – G.I. Jobs Magazine</li>
								<li>Workplace Achiever Award for Top Workplaces – Denver Post</li>
								<li>One of the World’s Most Ethical Companies – Ethisphere Institute</li>
								<li>Named a Top Workplace in Tampa Bay, Florida (large company division) by Tampa Bay Times/St. Petersburg Times</li>
								<li>A Best Place to Work in Idaho, Large Company Division – Idaho Business Review</li>
								<li>Nominated for Secretary of Defense Employer Support Freedom Award for New Mexico – U.S.Government</li>
								<li>A Top Ten Socially Devoted Brand on Facebook, No. 1, Q1 – Social Bakers</li>
								<li>A Top Employer in Richmond, VA – TimesDispatch.com</li>
								<li>A Top Workplace in New Mexico, No. 4 – The Albuquerque Journal</li>
								<li>Sterling Workplace Award in Richmond, VA – Richmond SHRM &amp; Richmond Chamber of Commerce</li>
								<li>A Best Place to Work in Birmingham, AL, No. 2, Large Company Division – Birmingham Business Journal</li>
								<li>A Best Place to Work in Maine, No. 11 – SHRM Maine State Council</li>
								<li>A Top Workplace for Corporate Social Responsibility, No. 2 – Universum</li>
								<li>One of the Best Workplaces for Recycling and Waste Reduction – King County, Washington State</li>
								<li>A Marketer of the Year – Direct Marketing Association</li>
								<li>A Best Place to Work in Wichita, KS, Large Business Category – Wichita Business Journal</li>
							</ul>
						</li>
						<li id="item03">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								2012</a>
							<ul class="pl0 ml20 list-unstyled detail lh2-2">
								<li>A Top Ten Socially Devoted Brand on Facebook, No. 1, Q4 – Social Bakers</li>
								<li>Green Supply Chain Award Recipient – Supply Chain Distinction Awards</li>
								<li>Green Award Recipient – Supply &amp; Demand Chain Executive</li>
								<li>Recognized Finalist, Supply Chain Distinction Award for Operations Excellence – World Trade Group</li>
								<li>A Top 100 Ideal Employer, No. 81 on Top IT Employers List – Universum</li>
								<li>A Top Ten Best Place to Work in New Mexico, No. 8, Large Company Division – New Mexico Business Weekly</li>
								<li>One of the Best Workplaces for Recycling and Waste Reduction – King County, Washington State</li>
								<li>One of the World’s Most Ethical Companies– Ethisphere Institute</li>
								<li>A Top 100 Military Friendly Employer, No. 10 – G.I. Jobs Magazine</li>
								<li>A Top 20 Military Spouse Friendly Employer, No. 7 – Military Spouse Magazine</li>
								<li>A Top Workplace in Denver, CO, Large Company Division – The Denver Post</li>
								<li>A Best Place to Work in Idaho, Large Company Division – Idaho Business Review</li>
								<li>A Top Workplace in Tampa Bay, FL, Large Company Division – St. Petersburg Times</li>
								<li>A National Top Workplace – Workplace Dynamics, LLC</li>
								<li>Recognized as One of Puerto Rico’s Best Employers</li>
								<li>A Best Place to Work in Birmingham, AL, No. 4, Large Company Division – Birmingham Business Journal</li>
							</ul>
						</li>
						<li id="item04">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								2011</a>
							<ul class="pl0 ml20 list-unstyled detail lh2-2">
								<li>A Top 100 Military Friendly Employer, No. 25 – G.I. Jobs Magazine</li>
								<li>A Top 20 Military Spouse Friendly Employer, No. 3 – Military Spouse Magazine</li>
								<li>One of the World’s Most Ethical Companies – Ethisphere Institute</li>
								<li>A Best Place to Work in Idaho, No. 6, Large Company Division – Idaho Business Review</li>
								<li>A Top Workplace in Tampa Bay, FL, No. 3, Large Company Division – St. Petersburg Times</li>
								<li>A Best Place to Work in Tampa Bay, FL, No. 6, Large Company Division – Tampa Bay Business Journal</li>
								<li>A Top Workplace in Atlanta, GA – The Atlanta Journal-Constitution</li>
								<li>One of the Best Workplaces for Recycling and Waste Reduction – King County, Washington State</li>
								<li>100 Best Companies to Work in Oregon, No. 25, Salem Call Center – Oregon Business</li>
								<li>A Best Place to Work Finalist in Birmingham, AL – Birmingham Financial Care Center</li>
								<li>A Best Place to Work in Birmingham, AL, No. 7 – Birmingham Business Journal</li>
							</ul>
						</li>
						<li id="item05">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								2010</a>
							<ul class="pl0 ml20 list-unstyled detail lh2-2">
								<li>One of the World’s Most Ethical Companies – Ethisphere Institute</li>
								<li>A Top 20 Best Place to Work for College Grads – Experience.com</li>
								<li>A Best Place to Work in Idaho, No. 5, Large Company Division – Idaho Business Review</li>
								<li>A Top Ten Employer Statewide – Idaho Business Review</li>
								<li>A Top Workplace in Tampa Bay, FL, No. 4, Large Company Division – St. Petersburg Times</li>
								<li>A Best Place to Work in Oregon, No. 24, Redmond Call Center – Oregon Business Magazine</li>
								<li>A Best Company to Work for – Texas Association of Business</li>
								<li>A Best Company to Work for in Colorado, Large Company – ColoradoBiz Magazine and Jobing.com</li>
								<li>A Best Place to Work in Maine, No. 11, Oakland Call Center – Society for Human Resources Management Maine State Council</li>
								<li>A Top 100 Military Friendly Employer – G.I. Jobs Magazine</li>
								<li>A Best Place to Work in Tampa Bay, FL – Tampa Bay Business Journal</li>
								<li>A Best Place to Work in Birmingham, AL, No. 9, Large Company Division – Birmingham Business Journal</li>
							</ul>
						</li>
						<li id="item06">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								2009</a>
							<ul class="pl0 ml20 list-unstyled detail lh2-2">
								<li>One of the 100 Best Companies to Work for, No. 96 – Fortune Magazine</li>
								<li>One of the World’s Most Ethical Companies – Ethisphere Institute</li>
								<li>A Top 500 IT Organization, No. 49 – InformationWeek Magazine</li>
								<li>A 100 Best Place to Work in IT, No. 64 – ComputerWorld Magazine</li>
								<li>Awarded the Choice Employer Award, Springfield Call Center, Large Business Division – Business Journal</li>
								<li>Named One of Puerto Rico’s Best 20 Employers</li>
								<li>A Best Company to Work for in Colorado, No. 10, Colorado Springs Call Center, Large Company Division – Colorado Magazine</li>
								<li>A Best Place to Work in Oregon, No. 15, Salem Call Center – Oregon Business Magazine</li>
								<li>A Top 10 Best Place to Work in Texas, Mission Call Center</li>
								<li>A Best Place to Work in Maine – Society for Human Resources Management Maine State Council</li>
								<li>A Best Place to Work in Tampa Bay, FL – Tampa Bay Business Journal</li>
							</ul>
						</li>
						<li id="item07">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								2008</a>
							<ul class="pl0 ml20 list-unstyled detail lh2-2">
								<li>Best Diversity Company – Diversity Careers in Engineering and Technology Magazine</li>
								<li>A Top 50 Employer – Careers and the Disabled Magazine</li>
								<li>A Top 50 Most Military Friendly Employer – G.I. Jobs Magazine</li>
								<li>A Home Front Hero Award Winner – Coalition to Support America’s Heroes</li>
								<li>Named One of Puerto Rico’s Best 20 Employers</li>
								<li>A Best Place to Work in Birmingham, AL, No. 5, Birmingham Call Center – Birmingham Business Journal</li>
								<li>A Best Company to Work for in Colorado, No. 13, Colorado Springs Call Center – Colorado State Council of the Society of Human Resource Management, Jobing.com, and ColoradoBiz Magazine</li>
								<li>A Best Place to Work in Maine, Oakland Call Center – State Council of the Society for Human Resources Management</li>
								<li>A Best Place to Work in Oregon, No. 14, Redmond Call Center – Society for Human Resources Management</li>
								<li>Diamond Award for Organizational Leadership – Commuter Challenge</li>
								<li>A 100 Best Place to Work in IT, No. 60 – ComputerWorld Magazine</li>
							</ul>
						</li>
						<li id="item08">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								2007</a>
							<ul class="pl0 ml20 list-unstyled detail lh2-2">
								<li>A Top 50 Most Military Friendly Employer – G.I. Jobs Magazine</li>
								<li>One of the Nation’s Top 20 Information Technology Teams – Information Week Magazine</li>
								<li>A Best Place to Work in Texas, No. 17 – SHRM and Best Companies Group</li>
								<li>Named a Best Company Finalist in Colorado for Working Families – Colorado Parents Magazine</li>
								<li>A Top Ten Best Places to Work in New Mexico, No. 8, Large Company Division – New Mexico Business Weekly</li>
								<li>Regional/National Business of the Year in Salem, OR – Salem Area Chamber of Commerce</li>
								<li>A Best Place to Work in Maine, No. 4, Modern Think LLC</li>
								<li>A Best Place to Work in Rio Grande Valley, TX – Rio Grande Valley Monthly</li>
								<li>A Best Place to Work Finalist, No. 6, Birmingham Financial Care Center – Birmingham Business Journal</li>
								<li>A Best Place to Work in Colorado Springs, CO, No. 10 – Best Companies Group</li>
								<li>Named on the Top 100 List of Best Diversity Companies – Diversity/Careers in Engineering and Information Technology Magazine</li>
								<li>A Best Place to Work in Springfield, MO, No. 1 – 417 Magazine</li>
								<li>A Best Employer in Tennessee, No. 9 – Best Companies Group</li>
								<li>A Best Large Employer to Work for in Oregon, No. 14, Salem Call Center – Oregon Business Magazine</li>
								<li>Outstanding Employer Award, No. 1 – Army National Guard of Washington</li>
								<li>A Best Place to Work in Maine – Society for Human Resources Management Maine State Council</li>
							</ul>
						</li>
						<li id="item09">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								2006</a>
							<ul class="pl0 ml20 list-unstyled detail lh2-2">
								<li>A Best Place to Work in Springfield, MO, No. 1 – Joplin Tri-State Business and Springfield Business Journal</li>
								<li>A Best Company for Working Families Friend of the Family Award Winner in Birmingham, AL – Birmingham Parents Magazine</li>
								<li>Most HR Supportive Company – New Mexico State Council of Society for Human Resource Management</li>
								<li>Diamond Award for Organizational Leadership – Commuter Challenge</li>
								<li>A Best Large Employer in Oregon, No. 10, Salem Call Center – Oregon Business Magazine</li>
								<li>A Best Employer in Tennessee, No. 17 – Best Companies Group</li>
								<li>A Best Place to Work in Maine – Society for Human Resources Management Maine State Council</li>
							</ul>
						</li>
						<li id="item10">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								2005</a>
							<ul class="pl0 ml20 list-unstyled detail lh2-2">
								<li>A Best Place to Work in Seattle, WA – Seattle Magazine</li>
								<li>A Best Place to Work in Wichita, KS, Large Business Category – Wichita Business Journal</li>
								<li>Diamond Award for Organizational Leadership – Commuter Challenge</li>
								<li>Employer of Excellence in New Mexico – New Mexico State Council of Society for Human Resource Management</li>
								<li>Named an Ideal Employer of Choice among College Undergraduates – Universum Communications</li>
								<li>Diversity Excellence Award – Black Collegian</li>
								<li>A Best Place to Work in Rio Grande Valley, TX – Valley Chapter of the Society of Human Resource Management</li>
								<li>A Best Place to Work in Rio Grande Valley, TX – Rio Grande Valley Monthly</li>
							</ul>
						</li>
						<li id="item11">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								2004</a>
							<ul class="pl0 ml20 list-unstyled detail lh2-2">
								<li>A Best Place to Work in Hidalgo, TX – The Monitor</li>
								<li>A Top 25 Employer in Colorado Springs, CO – Colorado Springs Gazette</li>
								<li>Named a Best Place to Work in Rio Grande Valley, TX – Rio Grande Valley Monthly</li>
								<li>Diversity Excellence Award – Black Collegian</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!--box holder-->
		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->
</body>

</html>