<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Company-Info-Billing</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>

	<!--Header Section Start-->
	<header id="header_body" class="header">
	</header>
	<!--/Header Section-->

	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->

			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>

			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">Company Information</h3>
				<ul class="nav nav-pills nav-justified mb20">
					<li><a href="#item01" class="text-uppercase gray">Overview</a>
					</li>
					<li><a href="#item02" class="text-uppercase gray">Awards</a>
					</li>
					<li><a href="#item03" class="text-uppercase gray">Government & Regulatory</a>
					</li>
					<div class="visible-sm"></div>
					<li><a href="#item04" class="text-uppercase gray">Jobs</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Consumer</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Safety</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray"><span class="sim">Sim Unlock</span> Policy</a>
					</li>
				</ul>
				<h5 class="color-gray-dark">Billing Information</h5>

				<ul class="accordion lh2-0">
					<li id="item01" class="active">
						<a href="javascript:void(0)">
							<div class="icon-ui icon-expand-mgt lh2-0"></div>Billing Information.</a>
						<h6 class="detail mt20">Avoiding bill shock.</h6>
						<p class="detail">T-Mobile offers our customers a number of ways to avoid potential bill shock from unanticipated voice, messaging, and data overages, through text alerts, online and phone access to account balance information, and family controls.</p>
						<h6 class="detail mt20">Overage Alerts.</h6>
						<p class="detail">Overage alerts can help you avoid unexpected high wireless bills, and are available to customers on rate plans with limited allotments of minutes, text messages, and/or data. T-Mobile automatically notifies you with a free text message when you come close to exceeding your plan allotments, and again when your allotments are used up. With T-Mobile Overage Alerts, you’ll know when you’re approaching additional charges or reduced data speeds, so you won’t be surprised by a high wireless bill or a slowed data experience.</p>
						<h6 class="detail mt20">Data usage</h6>
						<p class="detail">For customers on pay-per-use data plans, the first time you access the Internet with your device you will be notified of how your data usage will be charged. Then, a separate message will be sent to the primary account holder to confirm that the device was used for Internet access.</p>
						<p class="detail">For data plans with a monthly allotment, T-Mobile will notify you via free text message before you reach your allotted data plan usage, and again when you’ve reached your allotment. This message is also sent to the primary account holder to notify them that you’ve exceeded your limit.</p>
						<p class="detail">T-Mobile also offers overage-free mobile broadband data plans. Mobile broadband customers also receive the webConnect Manager software, which allows you to monitor how much data is being used, including an estimate of the amount of usage left on your plan.</p>
						<p class="detail">If you're trying to find the right plan for data usage, use our helpful data calculator to quickly assess your monthly data needs. Or if you would like to check your data plan usage, you can view the Data Usage Meter from the myAccount application or by signing in to My T-Mobile.</p>
						<h6 class="detail mt20">Message Blocking</h6>
						<p class="detail">Message Blocking is a free T-Mobile service that allows you to block messages to and from your phone, to help you avoid unwanted messages.</p>
						<p class="detail">You can block incoming and outgoing text messages (SMS), picture messages (MMS), Instant Messages (IM), and email.</p>
						<h6 class="detail">NOTE:</h6>
						<p class="detail">Blocking incoming and outgoing Instant Messages and email applies to phones which use text messaging to send/receive these messages. If you want to be able to send or receive messages, Message Blocking is not the right service for you. Messaging Blocking is intended to block messages in general, not to prevent overage charges.</p>
						<a href="javascript:void(0)" class="detail">Learn more about Message Blocking</a>
						<h6 class="detail mt20">Web Guard</h6>
						<p class="detail">Web Guard is a free, optional service which restricts access to adult-oriented content (over 18) on your phone when you use the T-Mobile network. While Web Guard can be a big help, it's not foolproof. It may or may not block or filter some content, including user-generated content such as Instant Messaging (IM), email, and text messages. But it's a good start.</p>
						<a href="javascript:void(0)" class="detail">Learn more about Message Blocking</a>
						<h6 class="detail mt20">Content Blocking</h6>
						<p class="detail">Content Blocking allows you to block T-Mobile downloadable content—games, ringtones, wallpaper, and CallerTunes®—from your handset. This free feature can help you avoid unwanted charges from downloadable content.</p>
						<a href="javascript:void(0)" class="detail">Learn more about content blocking</a>
						<h6 class="detail mt20">Family Allowances</h6>
						<p class="detail">Family Allowances® makes it easy for parents to keep control of their wireless account and avoid unexpected overage charges, by setting upfront limits on family plan minutes, messages, and downloads.</p>
						<a href="javascript:void(0)" class="detail">Learn more about Family Allowances</a>
						<h6 class="detail mt20">International Usage Alerts</h6>
						<p class="detail">When traveling internationally, T-Mobile sends a text message to alert you to applicable charges for voice, text, and data while roaming. And in order to get the best rates while abroad, T-Mobile encourages you to call T-Mobile for international rates and options.</p>
						<a href="javascript:void(0)" class="detail">Learn more about international services</a>
						<h6 class="detail mt20">Check account usage and balance:</h6>
						<p class="detail">Not only can you check your usage online, T-Mobile also offers customers the ability to check account usage at any time of day for free, right on your T-Mobile phone. Check your minute usage and balance from your phone by using My Account or by dialing the following short codes:</p>
						<h6 class="detail mt20">Check minutes used:</h6>
						<div class="detail pl20">Dial #MIN# (#646#) and press Send</div>
						<h6 class="detail mt20">Check text messages used (not available for prepaid customers):</h6>
						<div class="detail pl20">Dial #MSG# (#674#) and press Send</div>
						<h6 class="detail mt20">Check data usage:</h6>
						<div class="detail pl20">Dial #WEB# (#932#) and press Send</div>
						<h6 class="detail mt20">See your account balance and plan information:</h6>
						<div class="detail pl20">Dial #BAL# (#225#) and press Send</div>
						<a href="javascript:void(0)" class="detail mt10">Learn more about checking your usage and balance</a>
						<h6 class="detail mt20">My Account app</h6>
						<p class="detail">Some T-Mobile phones are pre-loaded with the free T-Mobile myAccount Android™ app. myAccount allows you to receive free minutes usage alerts (you may also use myAccount to enable and disable those usage alerts), payment reminders, billing summaries, and other service-related information.</p>
						<a href="javascript:void(0)" class="detail">Learn how to get the myAccount app</a>
						<h6 class="detail mt20">Third-party service provider billing</h6>
						<p class="detail">Certain third-party charges (games, apps, ringtones, etc.) may be included on your T-Mobile bill. If you want to block those third-party charges from being included on your T-Mobile bill, you may do so at no charge by visiting <a href="javascript:void(0)">www.my.T-Mobile.com</a> or calling T-Mobile Customer Service.</p>
						<h6 class="detail mt20">Stolen Devices</h6>
						<p class="detail">T-Mobile, along with CTIA, is committed to stopping the theft of mobile devices. Devices reported stolen will not work on the T-Mobile network or on most other networks around the world. If you wish to verify if a particular device has been reported stolen you may do so by online. <a href="javascript:void(0)">Learn More</a>
						</p>


					</li>
					<li id="item02">
						<a href="javascript:void(0)">
							<div class="icon-ui icon-expand-mgt lh2-0"></div>Beatae, enim accusamus accusantium harum!</a>
						<h6 class="detail mt20">Ipsa, rem at a inventore optio!</h6>
						<p class="detail">Saepe, rerum, culpa, itaque hic delectus adipisci doloribus repudiandae minus neque ad quia reprehenderit suscipit quisquam. Eos, molestias, harum, reprehenderit, explicabo ex odio dolorem aliquam asperiores sequi earum dolorum perferendis autem consectetur a iure ipsum adipisci totam alias modi error at doloremque deleniti quam repellendus quo sit maiores perspiciatis rem!</p>
						<h6 class="detail mt20">Lorem ipsum dolor sit.</h6>
						<p class="detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, unde, commodi autem praesentium incidunt sunt dolorum eveniet explicabo excepturi blanditiis officiis culpa suscipit similique cum adipisci ipsa rem alias in illum porro libero inventore molestiae voluptatibus ad dolores tempore et ullam pariatur sit non. Excepturi error quod quidem fuga voluptatum.</p>
						<h6 class="detail mt20">Eius consequatur laborum sit.</h6>
						<p class="detail">Ea, eveniet quaerat enim aliquam libero autem sapiente doloribus soluta nobis ducimus nostrum dolores magni eaque optio commodi expedita laborum labore quos ut magnam deserunt veritatis similique nemo modi quam impedit numquam aperiam ullam repudiandae assumenda nulla voluptate ipsum error. Sed, nostrum sunt aliquid tempora similique incidunt doloremque dolorem ducimus?</p>
						<h6 class="detail mt20">Voluptatibus, similique odio eos!</h6>
						<p class="detail">Officiis, tempore, voluptate omnis maxime fugit velit ea a eius eum saepe ducimus eaque similique mollitia eos repellendus nostrum magnam hic veniam magni perspiciatis minima nisi error cumque odit quisquam tenetur nemo dolor assumenda nihil cum totam voluptas fuga repellat recusandae eveniet voluptates quasi voluptatem rem numquam id. Recusandae, explicabo?</p>
					</li>
					<li id="item03">
						<a href="javascript:void(0)">
							<div class="icon-ui icon-expand-mgt lh2-0"></div>Mollitia tempore minus odio facilis.</a>
						<h6 class="detail mt20">Delectus doloribus maxime culpa numquam. Ducimus.</h6>
						<p class="detail">Consequatur, voluptate ipsum perspiciatis voluptas quidem fugit laudantium repellat vitae fugiat dolorem est labore eius cum beatae explicabo? Doloremque, enim, sequi, distinctio, praesentium itaque voluptates necessitatibus consequuntur quod quos odit expedita similique inventore molestiae quam porro debitis totam facilis explicabo sed saepe quisquam quibusdam tempore suscipit eligendi dolorum ut rem!</p>
					</li>
					<li id="item04">
						<a href="javascript:void(0)">
							<div class="icon-ui icon-expand-mgt lh2-0"></div>Maxime, tempora earum doloremque optio.</a>
						<h6 class="detail mt20">Dicta laborum beatae ab placeat quisquam.</h6>
						<p class="detail">Laborum aliquam cum possimus mollitia quis ipsum id provident doloribus doloremque quasi! Veritatis, perspiciatis, quasi, ad similique dolore minima magnam voluptate amet optio in id natus odit ea dolores rerum laboriosam aliquam adipisci vitae temporibus voluptatibus. Pariatur, perspiciatis non sit illo necessitatibus repellendus maxime ea fuga est autem aliquid deserunt.</p>
					</li>
					<li id="item05">
						<a href="javascript:void(0)">
							<div class="icon-ui icon-expand-mgt lh2-0"></div>Nam, iure quae soluta. Quasi.</a>
						<h6 class="detail mt20">Adipisci dolorem dolore impedit labore dicta?</h6>
						<p class="detail">A, aspernatur, dolorum ratione rem voluptatibus reprehenderit neque praesentium suscipit dolores veniam odio impedit incidunt nulla voluptatum dolorem ad alias blanditiis inventore qui consectetur id magnam quaerat deleniti repudiandae repellendus quidem doloribus. Sequi, aliquam, voluptatum eaque optio ipsa laudantium reprehenderit blanditiis aperiam corporis maxime perferendis ducimus dolores obcaecati iure eligendi?</p>
					</li>
					<li id="item06">
						<a href="javascript:void(0)">
							<div class="icon-ui icon-expand-mgt lh2-0"></div>Cupiditate, nesciunt aspernatur earum quasi.</a>
						<h6 class="detail mt20">Eveniet soluta est possimus quod animi!</h6>
						<p class="detail">Provident, tenetur minus totam architecto veritatis at obcaecati vel sint necessitatibus doloribus. Consequuntur, vero, atque nam deserunt libero minus culpa delectus unde incidunt velit dolor quos sit voluptas quia veritatis accusantium dolore provident ratione suscipit at reprehenderit voluptate dolorem eius natus ex corporis sapiente necessitatibus laborum quis modi repellendus iste.</p>
					</li>
					<li id="item07">
						<a href="javascript:void(0)">
							<div class="icon-ui icon-expand-mgt lh2-0"></div>Dolor blanditiis voluptatibus soluta itaque.</a>
						<h6 class="detail mt20">Temporibus impedit unde accusantium odit saepe.</h6>
						<p class="detail">Atque, pariatur, nostrum, vel qui ratione tempore quo expedita quod nesciunt quos iste dolor numquam vero incidunt totam magnam explicabo? Veniam, neque, vel, pariatur, sed laboriosam atque ducimus aut corporis repudiandae id esse minus saepe quos! Soluta, nemo, aliquid ratione sed voluptate ipsa dolore aspernatur at! Aliquid aliquam quibusdam at?</p>
					</li>
					<li id="item08">
						<a href="javascript:void(0)">
							<div class="icon-ui icon-expand-mgt lh2-0"></div>Qui eum corrupti at vel.</a>
						<h6 class="detail mt20">A labore ipsum quidem corporis quasi.</h6>
						<p class="detail">Voluptatem, atque, aliquam mollitia officiis pariatur nemo ratione voluptas fuga ullam perferendis eveniet id aperiam odit obcaecati distinctio. Omnis, aut, maxime sapiente ipsa voluptatem assumenda consectetur voluptas repudiandae rerum nisi alias nulla labore recusandae inventore quisquam eum odio molestias. Nam, dolores omnis sunt odit aliquam ratione quasi error facilis modi!</p>
					</li>
					<li id="item09">
						<a href="javascript:void(0)">
							<div class="icon-ui icon-expand-mgt lh2-0"></div>Dicta, praesentium iure similique repellendus.</a>
						<h6 class="detail mt20">Consequuntur expedita earum numquam aut sit.</h6>
						<p class="detail">Quos, deserunt, nobis voluptatibus quis labore ipsa sit neque placeat commodi voluptatem incidunt quae non possimus quisquam reprehenderit nisi cum nemo fugit ratione reiciendis. Porro, dolores, nihil distinctio esse delectus in molestias totam nam quasi. Qui, laborum, at alias quod suscipit expedita iste voluptate adipisci quia magnam commodi maxime. Praesentium.</p>
					</li>
					<li id="item10">
						<a href="javascript:void(0)">
							<div class="icon-ui icon-expand-mgt lh2-0"></div>Fuga, dolores repellendus beatae labore!</a>
						<h6 class="detail mt20">Quod incidunt in hic vero nobis.</h6>
						<p class="detail">Aspernatur, dignissimos, molestias, sequi tenetur asperiores at amet error sed voluptas inventore vel magni aperiam eos cupiditate consequuntur voluptatibus reprehenderit natus sunt a beatae ab repellat recusandae atque. Doloribus, deserunt, itaque temporibus similique laboriosam suscipit officia officiis incidunt blanditiis dolor sed rerum odio non! Impedit, odit porro saepe animi maxime.</p>
					</li>
				</ul>
			</div>
			<!--box holder-->


		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer>
	</footer>
	<!--/Footer Section-->

</body>

</html>