<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Company-Info-Sim-Unlock-Policy</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>

	<!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>

	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->

	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->

			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">Company Information</h3>
				<ul class="nav nav-pills nav-justified mb20">
					<li><a href="javascript:void(0)" class="text-uppercase gray">Overview<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Awards<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Government & <br class="hide show-sm">
				Regulatory</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Jobs<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Consumer<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Safety<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Sim Unlock <br class="hide show-sm">
				Policy</a>
					</li>
				</ul>
				<div id="contents">
					<div>
						<h5 class="mb30">Unlock Your Mobile Wireless Device</h5>
						<div class="mb20">Learn how to <b>unlock your wireless mobile device</b> for use on other carriers (formerly SIM Unlock).</div>
						<p class="pb10">We're committed to providing you with clear information about how to unlock your mobile wireless phones and tablets for use across different mobile carriers. Most mobile devices are programmed to prevent the device from operating with another wireless carriers network without first obtaining an unlock code.</p>
						<p class="pb20">If you purchased your device from T-Mobile or if you have a T-Mobile authorized device please follow the steps outlined below to determine your eligibility to receive an unlocking code for your device.</p>
						<h5 class="text-uppercase">DEVICE COMPATIBILITY</h5>
						<p class="pb10">It's important to understand that mobile carriers typically use different frequencies and technology to provide wireless network access. This means that not all phones and tablets are compatible between every mobile carrier - for more information about compatibility with T-Mobile's network please check <a href="javascript:void(0)">Bring Your Own Device.</a> Even if your phone or tablet is compatible between carriers, some functionality of your device may not operate the same on a different mobile carrier's network. Please carefully review your device functionality with any new carrier's network to make sure that the services are operating as expected.</p>
						<p class="pb20">In order to obtain an unlock code for your mobile wireless phone or tablet you need to contact the mobile carrier or manufacturer who sold you the device. The original carrier or manufacturer can provide you with instructions and specific information on how to unlock the device for use with another mobile carrier.</p>
						<h5 class="text-uppercase">UNLOCK REQUIREMENTS</h5>
						<p class="pb10">We provide mobile device unlock codes free of charge within two business days (or provides further information about timing) for eligible devices.</p>
						<h5>Device eligibility is determined as follows:</h5>
						<ul class="list-style-circle pl20">
							<li>The device must have been active on the T-Mobile network for at least 40 days on the requesting line.</li>
							<li>If the device was financed using T-Mobile's Equipment Installment Plan (EIP), then all payments must be satisfied and the device must be paid in full.</li>
							<li>If the device is on an account that has are under a service contract term, then at least 18 consecutive monthly payments must have been made or the account was migrated to Simple Choice no contract rate plan.</li>
							<li>If the device is associated with a canceled account, then the account balance must be zero.</li>
							<li>T-Mobile may request proof of purchase or additional information in its discretion and certain other exceptions may apply.</li>
						</ul>
						<h5 class="pt20">Unlock Eligibility for Pay in Advance (Prepaid) Phones and Tablets</h5>
						<div>
							<ul class="list-style-circle p20">
								<li>The device has been active on the T-Mobile network for more than 1 year.</li>
								<li>If the device has been active for less than 1 year, then the Pay in Advance account associated with the device must have had more than $25 in refills for basic phones or $100 in refills for smartphones or tablet since device first use date.</li>
								<li>T-Mobile may request proof of purchase or additional information in its discretion and certain other exceptions may apply.</li>
							</ul>
						</div>
						<h5 class="pt20 text-uppercase">STEPS</h5>
						<p>If a device meets the eligibly requirements, contact <a href="javascript:void(0)">T-Mobile Customer Service</a> to request an unlock code, and steps to unlock your device.</p>
						<p>Exceptions for Military Personnel and Business and Government Accounts may apply in certain circumstances. Contact T-Mobile</p>
						<h5 class="pt20">Important:</h5>
						<p>This policy is subject to T-Mobile's Terms and Conditions of service and may change without notice. T-Mobile may deny any request for a mobile device unlock code at our sole discretion if the request is an effort to defraud the company. Customer Service for more details.</p>
					</div>
				</div>
			</div>
			<!--box holder-->

		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->

</body>

</html>