<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Company-Info-Job</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>

	<!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>

	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->

	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->

			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">Company Information</h3>
				<ul class="nav nav-pills nav-justified mb20">
					<li><a href="javascript:void(0)" class="text-uppercase gray">Overview<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Awards<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Government & <br class="hide show-sm">
				Regulatory</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Jobs<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Consumer<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Safety<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Sim Unlock <br class="hide show-sm">
				Policy</a>
					</li>
				</ul>
				<div id="contents">
					<ul class="accordion lh2-0">
						<li id="item01" class="active">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								Jobs</a>
							<div class="detail mt10">
								<h5 class="color-gray-dark">Working Together.</h5>
								<p class="mb20">T-Mobile is looking for people who believe in the power of communications to bring people together. Our employees make a difference by solving challenges creatively and working effectively to inspire personal and professional growth. Join our dedicated team committed to connecting customers with the people who matter.</p>
								<div class="mb20">Check out current <a href="javascript:void(0)">open positions</a>
								</div>
							</div>
						</li>
						<li id="item02">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								Equal Employment Opportunity</a>
							<div class="detail mt10">
								<h5 class="color-gray-dark">Notice to Employees and Job Applicants</h5>
								<p class="pt10">T-Mobile USA, Inc. is an equal opportunity employer. All decisions concerning the employment relationship will be made without regard to age, race, color, religion, creed, sex, sexual orientation, gender identity or expression, national origin, marital status, veteran status, the presence of any physical or mental disability, or any other status or characteristic protected by federal, state, or local law. Discrimination or harassment based upon any of these factors is wholly inconsistent with our Company values and will not be tolerated. Furthermore, such discrimination or harassment may violate federal, state, or local law.</p>
								<p class="pt10">T-Mobile USA supports and will comply with such federal law in all respects and will not take any action against employees because they have exercised their rights under the law. Specifically, T-Mobile USA will not tolerate discrimination in employment, nor will it tolerate retaliation against any employee for exercising rights under law.</p>
								<P class="pt10">Employees or job applicants should feel free to report instances of discriminatory treatment to their supervisor, a manager, or T-Mobile USA's employee hotlink at any time. T-Mobile USA has established policies and procedures to promptly investigate any such reports and to protect the person making the reports from retaliation, including retaliation by the person allegedly guilty of the discrimination.</P>
								<P class="pt10">Applicants and employees may report denials of disability accommodation, make requests for disability accommodation, and/or report discrimination on the basis of a disability by contacting<a href="javascript:void(0)">T-Mobile's Leave/ADA Coordinator.</a>
								</P>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!--box holder-->

		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->

</body>

</html>