<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Company-Info-Sim-Unlock-Policy</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>
	<!--[if lt IE 9]>
                                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                        <![endif]-->
</head>

<body>
	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->
	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->
			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">Privacy &amp; Security Resources</h3>
				<div id="contents">
					<section>
						<h4 class="color-gray-dark mb30">YOUR ROLE IN PROTECTING YOUR PRIVACY</h4>
						<h5 class="color-gray-dark mb10">Protecting Your Personal Information</h5>
						<p class="mb20">You play an important role in ensuring the security of Personal Information. We encourage you to use passwords to prevent unauthorized access to your device, your online account, and your voicemail. You may also establish an optional password to identify yourself during calls with our Customer Service representatives. We recommend that you use unique, non-obvious passwords, that you periodically change your passwords, and that you not share your passwords with others.</p>
						<p class="mb20">Many devices store information in the device's memory, on the SIM card, and/or on SD memory cards. Therefore, before selling, discarding, trading in, or giving away your device, be sure you remove and retain your SIM and SD memory card and follow the manufacturer's instructions for deleting Personal Information or other data on the device. (This can be found in your owner's manual or on the manufacturer's Web site.)</p>
						<h5 class="color-gray-dark">&ldquo;Find My Phone&rdquo;</h5>
						<div class="mb20">Your device may include a &ldquo;find my phone&rdquo; feature that you can activate if you misplace your device.</div>
						<h5 class="color-gray-dark mb10">Lost or Stolen Devices</h5>
						<p class="mb20">In order to protect you and stop unauthorized billing, please notify us immediately by calling Customer Care at 611 (from a T-Mobile phone) or 1-800-937-8997 (from any phone) if you believe your device has been lost or stolen or if you believe your Personal Information has been accessed without your consent.</p>
						<h5 class="color-gray-dark mb10">Limit Third-Party Access</h5>
						<p class="mb20">If you provide a third-party access to your device, you should understand that your Personal Information may be accessed, deleted, altered, or transferred to another device or our network servers by the person using the device, and that we will treat that user as you for purposes of this Policy.</p>
						<h5 class="color-gray-dark mb10">Account Security</h5>
						<p class="mb20">You should take active steps to secure your account from unauthorized access, such as setting unique, non-obvious account passwords or using security questions to verify account access. You can also create an optional password to identify yourself when calling Customer Service. For more information, see <a href="javascript:void(0)">Privacy Resources/Security</a>.</p>
						<h5 class="color-gray-dark mb10">Caller ID Blocking</h5>
						<p class="mb20">When you use T-Mobile communications services, your name and/or telephone number may be transmitted and displayed on the receiving party's communications device and/or phone bill unless you block that information, which you can generally do by dialing *67 prior to dialing the called party's number. Refer to the specific instructions for your communication device regarding Caller ID Blocking. Caller ID Blocking does not prevent the display of your information when you dial certain business numbers, including 911, 900 numbers, or toll-free numbers. For more information see <a href="javascript:void(0)">Privacy Resources/Blocking</a>.</p>
						<h5 class="color-gray-dark mb10">Lookout Automatic App Security</h5>
						<p class="mb20">T-Mobile customers on many Android Smartphones may have the option of security their devices with Lookout Automatic App Security, a free program that scans applications on the device and notifies customers about whether an app is safe or not. In addition, the Lookout Mobile Security App provides free award-winning protection from spyware and malware, provides the ability to back up and restore contacts, and finds a missing device with custom SCREAMTM Tones, even when the ringer is off. Lookout Premium, which offers additional protection, including the ability to back up photos, remotely lock devices and wipe content and find out which apps or services are accessing personal information, is available on compatible devices for $2.99 per month (plus taxes).</p>
						<h5 class="color-gray-dark mb10">Adult Websites</h5>
						<div class="mb20">We may offer security features designed to allow the customer to restrict access to adult-oriented websites, but we cannot guarantee that such content will be blocked.</div>
						<h5 class="color-gray-dark mb10">Social Networking, Forums and Chat Rooms</h5>
						<p class="mb20">If you use or link to a public forum, bulletin board, chat room, or social network on or from a T-Mobile Web site, be aware that any information you post or submit can be read, collected, or used by other users of these forums, including to send you unsolicited messages. We urge you not to share your Personal Information (for example, your name, phone numbers, addresses, passwords, etc.) on these websites. We are not responsible for access to or use of information you choose to submit or share with others. For example, if you post your wireless number on a social network in order to receive updates by text message, standard message charges will apply to such messages.</p>
					</section>
				</div>
			</div>
			<!--box holder-->
		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->
</body>

</html>