<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Company-Info-Sim-Unlock-Policy</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>
	<!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->
	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->
			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">Company Information</h3>
				<div id="contents">
					<div>
						<div class="color-gray-dark pb40">Customer Proprietary Network Information</div>
						<h5 class="color-gray-dark mb30">Customer Proprietary Network Information</h5>
						<p class="pb10">T-Mobile is committed to protecting the privacy and security of our customers’ personal information and, as set forth in our <a href="/company/website/privacypolicy.aspx">Privacy Policy</a>, we strive to be a leader in protecting all such personal information. In today’s data-centric world, most consumers are familiar with the sensitivity and potential for misuse of information such as social security numbers, credit card numbers, and even demographic information.</p>
						<p class="pb10">As a telecommunications company, however, T-Mobile has access to a unique and highly-regulated form of personal information – known as Customer Proprietary Network Information, or "CPNI.” Despite its complex-sounding name, CPNI is simply the information generated in connection with the telecommunications services we provide to our customers. It includes, for example, call details (the phone numbers you call and the numbers calling you, the call times and dates, etc.) and certain information about customer rate plans and features. (CPNI does not include customers’ names, addresses, or cell phone numbers – although we certainly treat that information with care under our general privacy and security promises.)</p>
						<p class="pb10">For most customers (as well as “authorized users” – which a customer may designate to access and manage the customer’s account information), the most sensitive CPNI is the detailed records of whom they have called or from whom they have received calls. This “call detail” information may be of interest to people who know the customer or even to complete strangers. For example, a jealous boyfriend might be curious about who his girlfriend is talking to – and therefore might want to obtain the girlfriend’s call details. Similarly, a person might wish to obtain call records related to a business competitor in order to know whether the competitor is nearing a deal with a specific supplier.</p>
						<p class="pb10">Although federal law has long-required telecommunications carriers to protect CPNI, in an Order released on April 2, 2007, the Federal Communications Commission (“FCC”) issued revised and expanded CPNI rules in response to several high-profile incidents involving the activities of “data brokers” and “pretexters” who attempt to obtain unauthorized access to such information. These rules became effective December 8, 2007 and T-Mobile has implemented policies and safeguard procedures to help ensure compliance. T-Mobile continually reviews its compliance with such rules and annually certifies compliance to the FCC.</p>
						<h5 class="">Highlights of FCC’s Rules and T-Mobile’s Policies</h5>
						<p class="pb10">Carriers are prohibited from releasing call detail information to customers during customer-initiated telephone contacts, except when the customer has previously established a password for their account. Otherwise, carriers cannot release call detail information except by sending it to an address of record or by calling the customer at the telephone number of record.</p>
						<p class="ml30">With the exception of T-Mobile Puerto Rico, T-Mobile does not disclose call details over the telephone in response to customer-initiated telephone contacts. (T-Mobile Puerto Rico may disclose call detail over the telephone in response to a customer-initiated telephone contact, but only after verifying the customer’s account password and a one-time-use Personal Identification Number or “PIN” sent to the customer’s handset via SMS text message during the call.) T-Mobile allows customers the option to establish account passwords for use in connection with calls to customer care, but first verifies the customer’s (or authorized user’s) identity through the use of a randomly-generated PIN delivered via SMS text message.</p>
						<p class="pb10">Carriers must provide mandatory password protection for online account access.</p>
						<p class="ml30">T-Mobile provides online account access to CPNI only with a password that is initially established through use of a randomly-generated PIN delivered to the customer via SMS text message. For multi-line accounts, the customer may designate himself/herself as the primary account holder, which gives that person access to online account information for all the devices on the account. (This is the equivalent of the customer receiving the bill in the mail that contains the detailed usage information for all lines on the account.) Other users may access detailed online account information related only to their respective device (for example, if a parent provides a device to their child, the child may access online information about that device – including CPNI). The primary account holder, however, may designate additional or more limited online access rights for other users.</p>
						<p class="pb10">Carriers may provide CPNI to customers in a retail location with a valid government issued photo ID.</p>
						<p class="ml30">T-Mobile generally requires a valid government-issued photo ID matching the customer or authorized user’s account information prior to disclosing CPNI during a visit to a retail store. T-Mobile utilizes a customer-established PIN for authentication of pre-paid accounts at retail locations.</p>
						<p class="pb10">Carriers must notify their customers when a password, address, and certain other account changes occur.</p>
						<p class="ml30">T-Mobile’s policy is to mail a notice to the customer’s address of record or send an SMS message to the customer’s number of record whenever, among other changes, a password, customer response to a back-up means of authentication for lost or forgotten password, online account, or address of record is created or changed. Any mailed notice is sent only to an address that has been associated with the customer’s account for at least 30 days (except for accounts activated within the last 30 days, in which case the notice is sent to the address provided at account activation). Any such notice does not include or reveal the changed information.</p>
						<p class="pb10">Carriers must establish a notification process for both law enforcement and customers in the event of a CPNI breach. Specifically, carriers must notify the United States Secret Service (“USSS”) and the Federal Bureau of Investigation (“FBI”) after discovering a breach of CPNI.</p>
						<p class="ml30">T-Mobile’s policy is to notify law enforcement as soon as practicable, but in no event later than seven (7) business days, after a reasonable determination has been made that a breach of its customer’s CPNI has occurred. Similarly, T-Mobile’s policy is to notify customers of the breach no sooner than the eighth business day following completion of the notice to law enforcement unless directed by the U.S. Secret Service or the FBI not to so disclose or notify customers. T-Mobile may extend the period for customer notification pursuant to a written request of a relevant law enforcement agency.</p>
						<p>T-Mobile is committed to the protection of its customers’ CPNI and full compliance with the FCC’s CPNI rules. Questions and/or concerns may be directed to <a href="mailto:privacy@t-mobile.com">privacy@t-mobile.com</a>. A copy of the FCC’s Final Order dated April 2, 2007, is available at:<a href="http://hraunfoss.fcc.gov/edocs_public/attachmatch/FCC-07-22A1.pdf">http://hraunfoss.fcc.gov/edocs_public/attachmatch/FCC-07-22A1.pdf</a>.</p>
					</div>
				</div>
			</div>
			<!--box holder-->

		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->

</body>

</html>