<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Company-Info-Sim-Unlock-Policy</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>

	<!--[if lt IE 9]>
                        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                <![endif]-->
</head>

<body>
	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->
	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->
			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">Company Information</h3>
				<div id="contents">
					<ul class="accordion lh2-0">
						<li id="item01" class="active">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								Phishing</a>
							<div class="detail mt10">
								<h5 class="color-gray-dark">Protecting Yourself Against Fraudulent E-mail / Phishing Scams</h5>
								<h5 class="color-gray-dark mt20">What is phishing?</h5>
								<p class="mb20">Phishing (pronounced &ldquo;fishing&rdquo;) is a means by which identity thieves gather your information, including financial or account information such as user name and password, Social Security number, birth date, ATM PIN or credit card information, for use in committing fraud or other crimes.</p>
								<p class="mb20">Most phishing occurs through the use of fraudulent e-mail, although it can also occur over the phone, via SMS text message (&ldquo;SmiShing&rdquo;) or via postal mail. These fraudulent phishing e-mails often aim to create a sense of urgency for the consumer, asking them to take immediate action. For example, they may ask consumers to &ldquo;immediately update their account information or face account cancellation&rdquo; or &ldquo;immediately pay a past-due balance on their account by following a Web link.&rdquo; These fraudulent e-mails may appear to be from legitimate companies, including those you may regularly do business with. They will often include logos of the company or institution which appear to be authentic, and may include Web links and graphics which lead you to believe that they are legitimate requests for personal information.</p>
								<h5 class="color-gray-dark">What you can do to protect yourself:</h5>
								<p class="color-black bold">T-Mobile will never ask you to &ldquo;confirm&rdquo; or &ldquo;verify&rdquo; your sensitive personal information in an unsolicited e-mail.</p>
								<div class="mb10">If you receive a suspicious e-mail supposedly sent from T-Mobile:</div>
								<ul class="pl0 pb10 list-style-disc">
									<li><b>Do not reply to the suspicious e-mail and do not open any attachments.</b> Instead, contact T-Mobile directly and make sure that the e-mail is legitimate.</li>
									<li><b>Do not click on any Web links</b> included in the e-mail even if it looks genuine, and do not provide any personal information which the e-mail may request.</li>
									<li><b>Contact T-Mobile's Privacy Team</b>  <a href="javascript:void(0)">privacy@T-Mobile.com</a> and forward a copy of the e-mail so that we may investigate it. If our company name or brand is used in efforts to fraudulently obtain personal information, we will work aggressively to halt those activities.</li>
								</ul>
								<p class="mt10"><b>Like T-Mobile, most reputable companies will not send you e-mails or otherwise contact you requesting sensitive personal information.  Be aware of the policies and practices of the other companies you deal with and always be suspicious of unsolicited requests for such information.</b> As phishing attempts will likely continue to evolve, it is important to always think twice before you provide any personal information in response to e-mails.</p>
								<p class="mt20">If you believe that you have been a victim of a fraudulent e-mail phishing scam, you should file a complaint at <a href="javascript:void(0)">http://www.ftc.gov</a>, and then visit the FTC Identity Theft Web site at <a href="javascript:void(0)">http://www.ftc.gov/idtheft</a> to learn how to minimize your risk of damage from identity theft.</p>
							</div>
						</li>
						<li id="item02">
							<a href="javascript:void(0)">
								<div class="icon-ui icon-expand-mgt lh2-0"></div>
								SMiShing and SMS Spam</a>
							<div class="detail mt10">
								<h5 class="color-gray-dark">SMiShing</h5>
								<h5 class="color-gray-dark mt20">What is SMiShing?</h5>
								<p>&ldquo;SMiShing&rdquo; is really just another form of Phishing, and occurs when a fraudster sends you a SMS/text message asking you to provide sensitive, personal, and/or financial information via a web link and false website, or a telephone number. The messages could appear to be from T-Mobile, or from some other entity you do business with.</p>
								<p class="color-black bold">Please note that T-Mobile will never ask you to &ldquo;confirm&rdquo; or &ldquo;verify&rdquo; your sensitive personal information in an unsolicited SMS text message.</p>
								<p class="mb20">While we generally need account verification information when you contact us, we will not request such information when contacting you.</p>
								<p class="mb20">The most common examples of SmiShing occur when fraudsters send text messages posing as a customer's financial institution or other business that might have access to sensitive personal information. The message often attempt to alarm the customer. It may threaten dire consequence if you don't respond immediately. The message may direct you to a toll-free number or website that looks just like a legitimate institution's number, but in fact it is not. Once you have called the number or clicked on the email link, they may ask you to &ldquo;verify&rdquo; (give them ) your sensitive information such as credit card number account number and expiration date; your Social Security Number, Bank Account Number and pass code, etc</p>
								<h5 class="bold">Examples of fraudulent SMiShing messages:</h5>
								<ul class="pl0 pb10 list-style-disc">
									<li>Credit Union N.A. Please call us immediately at 1-888-xxx-xxxx regarding a recent restriction placed on your account. Thank you.</li>
									<li>Alert!! Honolulu City & County Employees has limited your account pending verifications. Contact us NOW at 213-xxx-xxxx.</li>
								</ul>
								<h5 class="color-gray-dark mt10">Steps to Take</h5>
								<div class="mb20">If you receive a text message that asks for sensitive information:</div>
								<ul class="pl0 pb10 list-style-disc">
									<li>Do not reply to the message.</li>
									<li>Do not click on any of the links that may be embedded in the message.</li>
									<li><b>Contact T-Mobile's Privacy Team</b> at <a href="javascript:void(0)">privacy@T-Mobile.com</a> and forward a copy of the e-mail so that we may investigate it. If our company name or brand is used in efforts to fraudulently obtain personal information, we will work aggressively to halt those activities.</li>
									<li>Contact your bank, financial institution, or other entity you do business with directly to determine if they sent you a legitimate request.</li>
								</ul>
								<h5 class="color-gray-dark mt10">SMS Spam</h5>
								<h5 class="color-gray-dark">What is SMS spam?</h5>
								<p class="mb10">SMS spam is any unwanted or unsolicited text message sent indiscriminately to your mobile phone, often for commercial purposes. It can take the form of a simple message, a link to a number to call or text, a link to a website for more information or a link to a website to download an application.</p>
								<div class="mb10"><b>What should I do if I receive spam text messages on my wireless phone?</b>
								</div>
								<p>T-Mobile is committed to fighting mobile spam and encourages our customers to report unsolicited messages to us for investigation. If you receive an unsolicited message please forward it to the Spam Reporting Service following the three simple steps below:</p>
								<ol class="pl0 pb10 ml20">
									<li>Forward the message to 7726 (which spells &ldquo;SPAM&rdquo; on most phone keypads). Please don't edit the message or add any comments.</li>
									<li>We will reply to your message with an SMS confirming we have received it and asking you to send us the number of the original sender.</li>
									<li>Please send us the telephone number of the person who sent the spam. We will use this information to help identify who is sending spam and take appropriate action.</li>
								</ol>
								<p>By reporting SMS spam, you are helping us identify spammers and the messages they send. There is no charge to report mobile spam. Messages forwarded to 7726 do not count toward your plan.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!--box holder-->
		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->

</body>

</html>