<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Company-Info-Sim-Unlock-Policy</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>

	<!--[if lt IE 9]>
                        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                <![endif]-->

</head>

<body>
	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->
	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->

			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">Company Information</h3>
				<ul class="nav nav-pills nav-justified mb20">
					<li><a href="javascript:void(0)" class="text-uppercase gray">Overview<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Awards<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Government & <br class="hide show-sm">
				Regulatory</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Jobs<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Consumer<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Safety<br class="hide show-sm">
				&nbsp;</a>
					</li>
					<li><a href="javascript:void(0)" class="text-uppercase gray">Sim Unlock <br class="hide show-sm">
				Policy</a>
					</li>
				</ul>
				<div id="contents">
					<section>
						<h4 class="color-gray-dark mb30">Device Apps</h4>
						<h5 class="bold mb20">Applications and Websites</h5>
						<p class="mb20">For many years, mobile devices were relatively limited in function - typically providing only voice and SMS (or &ldquo;text&rdquo;) messaging. During this period, the mobile carrier served as a one-stop shop for the entire mobile user experience. The carriers provided the user's equipment and services, as well as the few programs (or &ldquo;applications&rdquo; or &ldquo;apps&rdquo;) the device was capable of running.</p>
						<p class="mb20">Times have quickly changed. Although today's wireless devices still provide plain old &ldquo;phone&rdquo; services, many more closely resemble personal computers than telephones. Today's devices are often capable of running an array of applications that are increasingly available from various online &ldquo;markets&rdquo; and also provide an increasingly computer-like Web experience.</p>
						<p class="mb20">Although mobile carriers such as T-Mobile still provide the foundation equipment and services, in today's environment, more and more entities (&ldquo;third-parties&rdquo;) are offering downloadable applications directly to consumers. Just as computer makers or Internet Service Providers (&ldquo;ISPs&rdquo;) don't control the computer software a user chooses to run or the websites a user may visit from her computer, mobile carriers have less and less control over these user choices on their mobile devices. Specifically, the mobile carriers generally cannot dictate or control the information collection, use, and disclosure policies of the third-parties with whom the user chooses to interact through their mobile devices.</p>
						<p class="mb20">For example, if a user installs a third-party application or visits a third-party website on their mobile device, the privacy practices of the third-party will govern the way in which the user's personal information may be gathered and used - not T-Mobile's policy. The application or website may even access certain information stored on the device (for example, the user's contact list or photos). For this reason, users must be aware of and cautious about those with whom they are dealing and pay close attention to the terms of use and privacy policies of these third parties.</p>
						<div class="mb10">Examples of potential activity on today's mobile devices include:</div>
						<ul class="pl0 pb10 ml20 list-style-disc">
							<li class="mb20">A mobile carrier hosts a mobile webpage on which it offers games, ringtones, and other content for purchase, and the mobile carrier gathers information about the mobile user's interests and purchase history within that site in order to provide future recommendations and offers. In this case, the mobile carrier is solely responsible for its own information practices on the mobile site. This mirrors the traditional relationship between the carrier and user.</li>
							<li class="mb20">A mobile carrier provides broadband access service that allows a user to visit websites hosted/operated by third-parties from their mobile device. These third-parties gather information about the consumer's activities within the third-party websites. In this case, the mobile carrier cannot control and is not responsible for the personal information practices of the third-party. Instead, the third-party website operators are responsible - just as any website operator is responsible for their applicable information practices when visited by a user from a personal computer</li>
							<li>A mobile user downloads a third-party photo-sharing application on a mobile device (from one of several &ldquo;markets&rdquo; for such applications). Among other things, the particular third-party application may automatically upload all photos taken by the mobile device and stores them on the third-party's network servers. The mobile carrier cannot control and is not responsible for the third-party application's access to photos on the device or how the third-party otherwise collects, uses, or shares information about the user. Instead, the third-party application provider is responsible for its own information practices associated with the application.</li>
						</ul>
						<p class="mb0">Today's mobile devices provide many of the same computing and Internet capabilities that personal computers provide - leading to unprecedented innovation and consumer convenience.</p>
						<div class="color-black bold">But these changes also require increased user awareness of the privacy implications when dealing with third-parties.</div>
						<p>As is the case with the personal computer, mobile device users must pay attention to the personal information policies of the applications they choose to download and the websites they choose to visit. In sum, mobile device users must always ask: &ldquo;Who is gathering/using/sharing personal information in connection with a specific device application (i.e., who is the application provider) or mobile website (i.e., who is the website operator), and what are my options for controlling how my information is treated?&rdquo;</p>
					</section>
				</div>
			</div>
			<!--box holder-->
		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->

</body>

</html>