<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Privacy &amp; Security Resources</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>
	<!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->
	<!--Main Content Section Start-->
	<main class="privacy-resources">
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li><a href="/company">About T-Mobile</a>
					</li>
					<li>Privacy &amp; Security Resources</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->
			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<section class="col-sm-10 pl0 pr0">
				<!--box holder-->
				<div class="box-holder mb30">
					<div class="clearfix">
						<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
						</div>
					</div>
					<h3 class="mt10 mb20">Privacy &amp; Security Resources</h3>
					<ul class="nav nav-pills nav-justified mb20">
						<li data-target-content="#identity" class="active"> <a href="javascript:void(0)" class="text-uppercase gray">IDENTITY<br class="hide show-sm">
								THEFT</a> 
						</li>
						<li data-target-content="#security"> <a href="javascript:void(0)" class="text-uppercase gray">SECURITY<br class="hide show-sm">
								&nbsp;</a> 
						</li>
						<li data-target-content="#marketing"> <a href="javascript:void(0)" class="text-uppercase gray">MARKETING <br class="hide show-sm">
								CHOICE</a> 
						</li>
						<li data-target-content="#customer"> <a href="javascript:void(0)" class="text-uppercase gray">CUSTOMER<br class="hide show-sm">
								PROPRIEATRY</a> 
						</li>
						<li data-target-content="#phishing"> <a href="javascript:void(0)" class="text-uppercase gray">PHISHING<br class="hide show-sm">
								SMISHING</a> 
						</li>
						<div class="hide show-sm hide-lg clearfix"></div>
						<li data-target-content="#device"> <a href="javascript:void(0)" class="text-uppercase gray">DEVICE<br class="hide show-sm">
								APPS</a> 
						</li>
						<li data-target-content="#location"> <a href="javascript:void(0)" class="text-uppercase gray">LOCATION<br class="hide show-sm">
								SERVICES</a> 
						</li>
						<li data-target-content="#blocking"> <a href="javascript:void(0)" class="text-uppercase gray">BLOCKING<br class="hide show-sm">
								&nbsp;</a> 
						</li>
						<li data-target-content="#protecting"> <a href="javascript:void(0)" class="text-uppercase gray">PROTECTING<br class="hide show-sm">
								YOUR PRIVACY</a> 
						</li>
					</ul>
					<article>
						<div id="identity" class="content-holder active"></div>
						<div id="security" class="content-holder"></div>
						<div id="marketing" class="content-holder"></div>
						<div id="customer" class="content-holder"></div>
						<div id="phishing" class="content-holder"></div>
						<div id="device" class="content-holder"></div>
						<div id="location" class="content-holder"></div>
						<div id="blocking" class="content-holder"></div>
						<div id="protecting" class="content-holder"></div>
					</article>
				</div>
			</section>
			<section class="col-sm-2">
				<aside>
					<h5>Child protection<br>
						and family information</h5>
					<div class="lh25"> <a class="FB" href="javascript:void(0)">Growing Wireless</a>
						<p>Resources for parents and guardians from CTIA- Wireless Association and Wireless Foundation; including the <a href="javascript:void(0)">" Parents Guide to Mobile Phones "</a> developed by online safety experts at <a title="" href="javascript:void(0)">ConnectSafely.org</a> 
						</p>
						<a title="" href="javascript:void(0)">National Center for Missing &amp; Exploited Children</a>
						<p>NCMEC provides the most comprehensive resources regarding missing children, child sexual exploitation, child safety and prevention, law enforcement training and victim and family support.</p>
						<a title="" href="javascript:void(0)">Wireless AMBER Alerts </a>
						<p>Free wireless AMBER Alerts from CTIA - The Wireless Foundation and the U.S. Department of Justice</p>
						<h5>Privacy and security information</h5>
						<a title="" href="javascript:void(0)">Stop | Think | Connect</a>
						<p>Resources for building safe online behaviors and helping digital citizens stay safer and more secure online</p>
						<a title="" href="javascript:void(0)">FTC: identity theft protection</a>
						<p>Information on the safe and responsible use of cell phones and other wireless devices</p>
					</div>
				</aside>
			</section>
			<!--box holder-->
		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->
</body>

</html>