<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Company-Info-Sim-Unlock-Policy</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>
	<!--[if lt IE 9]>
                        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                <![endif]-->
</head>

<body>
	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->
	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->
			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">Company Information</h3>
				<div id="contents">
					<section>
						<h4 class="color-gray-dark mb30">Protecting Yourself Against Identity Theft</h4>
						<h5 class="color-gray-dark mb20">What is identity theft?</h5>
						<p class="mb20">Identity theft is a serious and potentially devastating crime. Identity theft occurs when someone commits or attempts fraud by using a victim's personal information, such as name, date of birth, Social Security number (SSN), driver's license number, etc. They may use this information to open new credit cards or other accounts in the victim's name.</p>
						<h5 class="color-gray-dark mb20">How do thieves steal an identity?</h5>
						<p>There are a variety of methods used by thieves to obtain someone's identity, which include:</p>
						<ul class="pl0 pb10 ml15">
							<li>Theft - traditional forms of obtaining information by stealing wallets, purses, mail (such as bank or credit card statements), pre-approved credit offers, new check orders, or tax information.</li>
							<li>Address Change - diverting billing statements to another location by completing a postal change of address form or convincing companies the victim deals with to change the address on an account.</li>
							<li>Dumpster Diving - the act of digging through the trash for documents containing personal or confidential information.</li>
							<li>Phishing or Smishing - a technique where a scam artist sends an e-mail or text message that appears to be from a legitimate source in an attempt to con individuals into providing personal or financial information (e.g. credit card numbers).</li>
							<li>T-Mobile may request proof of purchase or</li>
							<li>Hacking - illegally gaining access to another person's e-mail or other online accounts.</li>
							<li>Skimming - stealing credit/debit card information by using a fraudulent storage device hidden in the card slot of ATMs or gas pumps to read a victim's card.</li>
						</ul>
						<h5 class="color-gray-dark">How does T-Mobile work to fight identity theft?</h5>
						<p class="mb20">T-Mobile is committed to safeguarding the personal and account information of our customers and employees. We have established physical, technical and administrative safeguards to help prevent unauthorized access, maintain data accuracy, and to help ensure only appropriate use of information. T-Mobile offers customers the ability to place passwords on their accounts, both online and when calling T-Mobile, as well as extensive privacy security training to all T-Mobile employees.</p>
						<h5 class="color-gray-dark">What can you do to help fight identity theft?</h5>
						<p>Awareness is an effective weapon against identity theft. Armed with the knowledge of how to protect yourself and taking appropriate measures like password protecting your cell phone, you can make it much more difficult to be victimized by identity thieves. You can also help fight identity theft by educating your friends, family, and members of your community. The Federal Trade Commission (FTC) has prepared a collection of easy-to-use materials to enable anyone, regardless of existing knowledge about identity theft, to inform others about this serious crime.</p>
						<p class="mb20">To learn more, visit <a href="javascript:void(0)">http://www.consumer.ftc.gov/features/feature-0014-identity-theft.</a>
						</p>
						<h5 class="color-gray-dark">How you can find out if your identity has been stolen, and what should you do if it has?</h5>
						<p>The best way to monitor for identity theft is to scrutinize your accounts and bank statements each month for any unauthorized activity, and check your credit report on a regular basis. If you check your credit report regularly, you may be able to limit the damage caused by identity theft.</p>
						<p class="mt20">For more information, visit the FTC's web site at <a href="javascript:void(0)">http://www.consumer.ftc.gov/topics/privacy-identity</a>.</p>
					</section>
				</div>
			</div>
			<!--box holder-->
		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->
</body>

</html>