<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Company-Info-Sim-Unlock-Policy</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->
	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->
			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">LEGAL NOTICES</h3>
				<div id="contents">
					<section>
						<h4 class="color-gray-dark mb20">Trademarks</h4>
						<h5 class="color-gray-dark mb20">T-Mobile Marks Rules</h5>
						<p class="mb20">T-Mobile's trademarks are valuable corporate assets that play an important role in promoting our products and services. If any of T-Mobile's trademarks are used improperly, however, their value may be weakened or they may be lost altogether. These Marks Rules set forth basic rules about how to properly use the trademarks, service marks, trade names, logos, designs, icons, slogans, trade dress, sounds, colors, and other source identifying devices of T-Mobile USA, Inc. (the &ldquo;TMUS Marks&rdquo;) and, Deutsche Telekom AG, which is the owner and licensor of the T-MOBILE family of trademarks (the &ldquo;DT Marks&rdquo;). The DT Marks and TMUS Marks are collectively referred to as the &ldquo;Marks&rdquo;. By following these Marks Rules, you help Deutsche Telekom AG (&ldquo;DT&rdquo;) and T-Mobile protect their rights in their respective Marks.</p>
						<div class="pb10">A. <b>General Rule.</b> T-Mobile does not allow third parties to use the Marks unless</div>
						<ol class="pl0 ml50">
							<li>they have received T-Mobile's written permission in the form of a license, or</li>
							<li>their use of the Marks qualifies as a fair or nominative use for which a license is not required under applicable law.</li>
						</ol>
						<p class="ml20 mb10">If you or your company is already party to a written agreement pursuant to which you are licensed to use some or all of the Marks, that agreement, in addition to any and all branding guidelines and other directives (&ldquo;Branding Guidelines&rdquo;), will govern your rights to use those Marks. <b>All licensees are also required to fully comply with these Marks Rules.</b> If a rule in these Marks Rules conflicts with or is inconsistent with a term or provision in your license agreement or any Branding Guidelines (including all Branding Guidelines articulated by DT with respect to the DT Marks), then the term appearing in the agreement or Branding Guidelines will control.</p>
						<p class="ml20 mb10">If you or your company is not a party to a written agreement permitting you to use the Marks, then you should only use the Marks if such use qualifies as a fair or nominative use. <b>We strongly caution you against using the Marks, or confusingly similar versions of the Marks, in any manner suggesting that T-Mobile sponsors, is affiliated with, certifies, approves or endorses you, your company, your products or services, or your views and opinions.</b> Such uses may constitute trademark infringement and/or dilution. If you have any questions regarding whether your use of the Marks qualifies as a fair or nominative use, or whether your use constitutes infringement or dilution of the Marks, you should consult your own legal counsel.</p>
						<div class="ml20 mb20">To obtain authorization to use the Marks, or to report possible infringement or dilution of the Marks, please contact T-Mobile's Intellectual Property Team at <a href="javascript:void(0)" title="">IPCOUNSEL@T-MOBILE.COM.</a>
						</div>
						<div class="pb10">B. <b>Rules Applicable to Anyone Who Uses the Marks.</b>
						</div>
						<ol>
							<li><b>Trademark Notice Symbols.</b> When using the Marks, use the proper notice symbol in conjunction with the Mark, to reflect whether a Mark is registered or unregistered. The notice symbol should be placed immediately after the Mark. If the Mark is a word mark, then the notice symbol should be in a superscript at the upper right of the Mark. If the Mark is a logo or design, then the notice symbol should be immediately adjacent to the logo or design in either a superscript (upper right) or subscript (lower right). Notice symbols must always be in a size that is easily readable but is smaller than the Mark itself.
								<ul class="list-unstyled p0 ml0">
									<li class="mb10 mt10">There are two types of symbols:</li>
									<li class="mb10 mt10">&reg;indicates that a trademark or service mark is registered in the United States or elsewhere.</li>
									<li class="mb10 mt10">Example: T-Mobile&reg;</li>
									<li class="mb10 mt10">&trade; indicates that a trademark or service mark is not registered in the United States or elsewhere.</li>
									<li class="mb10 mt10">Example: Simple Choice &trade;</li>
									<li class="mb10 mt10">If you are using our logos or designs, use a trademark notice symbol on each use of the logo or design, regardless of the number of times it appears in your media.</li>
									<li class="mb10 mt10">If you are using a word mark, use a trademark notice symbol on the most prominent use of a Mark in your media. If there is not a single most prominent use, then use a trademark notice symbol on the first use of a Mark that appears in the media.</li>
									<li>A notice symbol should be used whenever possible, except where the nature of a Mark, or space or style criteria, make use impractical. For example, a notice symbol is not required to be used on a Mark that is not easily referenced with a notice symbol, such as an audible or sound Mark (such as the &ldquo;T-Mobile jingle&rdquo;) or trade dress (such as uses of the color magenta). In cases where use of notice symbols is not practicable, include an ownership attribution legend (see Item 2 immediately below).</li>
									<li></li>
								</ul>
							</li>
							<li class="mt20"><b>Ownership Attribution Legend.</b>Include the following legend in the same document or on the same media as the Marks. The legend should be presented in an easily readable typeface of at least 8 point size, and can be placed at the end or bottom of marketing materials, at the bottom of a web page, or on the back of product packaging.
								<ul class="list-unstyled p0 ml0">
									<li class="mt10">&ldquo;T-Mobile, the color magenta, the digits design and [LIST OTHER DT MARKS] are registered and/or unregistered trademarks of Deutsche Telekom AG.</li>
									<li class="mb10">un-leash, Simple Choice and [LIST OTHER T-MOBILE MARKS] are registered and/or unregistered trademarks of T-Mobile USA, Inc.&rdquo;</li>
								</ul>
							</li>
							<li class="mt20"><b>Adjectives Modifying Nouns.</b>Always use a Mark as an adjective modifying a noun. Do not use a Mark as a noun or a verb, and do not use a Mark in a way that suggests a common, descriptive or generic meaning. Always use a Mark immediately before a noun that describes the associated good or service.
								<ul class="list-unstyled p0 ml0">
									<li class="mt10">Correct: &ldquo;T-Mobile &reg; wireless products and services.&rdquo;</li>
									<li>Incorrect: &ldquo;T-Mobile &reg; can be used around the world.&rdquo;</li>
									<li class="mt10">Correct: &ldquo;Access the Internet with the myTouch &reg; smartphone.&rdquo;</li>
									<li>Incorrect: &ldquo;Access the Internet with myTouch &reg;.&rdquo;</li>
								</ul>
							</li>
							<li class="mt20"><b>Exact Use.</b>Use DT Marks exactly as used by DT and use TMUS Marks exactly as used by T-Mobile, without varying the spelling, abbreviating, adding or deleting hyphens, adding punctuation that is not part of the mark, omitting punctuation that is part of the mark, breaking one word into two or more words, pluralizing, or making possessive through the use of apostrophes.
								<ul class="list-unstyled p0 ml0">
									<li class="mt10">Incorrect: &ldquo;TMO &reg; &rdquo; (abbreviation)</li>
									<li class="mt10">Incorrect: &ldquo;T-Mobil &reg; &rdquo; (misspelling)</li>
									<li class="mt10">Incorrect: &ldquo;unleash &trade;&rdquo; (omitting a hyphen that is part of the mark (in this case, omitting the hyphen from &ldquo;un-leash &rdquo;)</li>
									<li class="mt10">Incorrect: &ldquo;Simple-Choice&reg; &rdquo; (inserting a hyphen that is not part of the mark)</li>
									<li class="mt10">Incorrect: &ldquo;We sell myTouch-related products&rdquo; (inserting a hyphen between the mark and surrounding words)</li>
									<li class="mt10">Incorrect: &ldquo;un-leash!&rdquo; (adding punctuation that is not part of the mark (in this case, adding an exclamation point to &ldquo;un-leash&rdquo;))</li>
									<li class="mt10">Incorrect: &ldquo;Jump&rdquo;(omitting punctuation that is part of the mark (in this case, omitting the exclamation point in &ldquo;Jump!&rdquo;))</li>
									<li class="mt10">Incorrect: &ldquo;In Reach&reg; &rdquo; (breaking one word into two words)</li>
									<li class="mt10">Incorrect: &ldquo;monthly4Gs&reg; plans&rdquo; (making a singular mark plural)</li>
									<li class="mt10">Incorrect: &ldquo;Sonic's&reg; mobile capabilities&rdquo; (possessive)</li>

								</ul>
							</li>
							<li class="mt20"><b>Exact Logo Use.</b> Use DT logos exactly as used by DT and T-Mobile USA logos exactly as used by T-Mobile, without any alteration or modification to the design, words, colors and/or proportions.</li>
							<li class="mt20"><b>Visual Distinctiveness.</b> For Marks that are words (as opposed to logos and designs), capitalize the first letter of the Mark, put the entire Mark in capital letters or in italics, underline the Mark, or put the entire Mark in quotation marks, in order to make the Mark visually distinct from surrounding text.</li>
							<p class="mt10">For other Marks, such as logos, keep them visually distinct and separate from surrounding text and design elements. In particular, keep the T-MOBILE &reg; logo as a stand-alone element, without other marks or logos grouped with it, including by maintaining a visual distinction between your company name and the T-MOBILE &reg; logo. Unless you are a licensed user and your agreement permits you to do so, do not make the T-MOBILE &reg; logo so prominent that the media appears to be from T-Mobile; the size and placement of the Marks in your media must clearly reflect that you are an independent entity.</p>
							<li class="mt20"><b>Adoption and Use as Trademarks or Other Assets.</b> Do not adopt the Marks, or confusingly similar versions of the Marks, as your own trademarks or other brand-related assets. By way of example and not limitation, do not copy or imitate any trade dress, such as the color palate and color combinations, graphics, sounds, imagery, typefaces or stylizations used by T-Mobile. By way of further example and not limitation, do not use the Marks, or confusingly similar versions of the Marks, as all or part of a:</li>
							<ul class="list-style-disc p0 ml20 mt10">
								<li>Trademark or service mark</li>
								<li>Product or service name</li>
								<li>Company name, trade name, or fictitious or assumed business name</li>
								<li>Top level domain or a second level domain name</li>
								<li>Social networking name, &ldquo;handle&rdquo; or other user identifier used in connection with a social networking site or online forum</li>
								<li>Software application name</li>
								<li>AdWord or other keyword used to generate sponsored links in a search engine</li>
								<li>E-mail address</li>
								<li>Telephone number</li>
							</ul>
							<p class="mt20">For licensed users of the Marks: <span class="text-underline">Any use of the Marks in the foregoing fashions may constitute a breach of your agreement.</span> You acknowledge that any registration and use of a domain that incorporates a Mark, or a confusingly similar version of a Mark, is an unlicensed use and constitutes bad faith registration and use under the Anticybersquatting Consumer Protection Act and the Uniform Domain Name Dispute Resolution Policy. For each of the foregoing, you agree to abandon such asset, or to assign and transfer such asset to T-Mobile, upon our demand.</p>
							<li class="mt20"><b>Sponsorship, Affiliation, Etc.</b> Do not use the Marks, or confusingly similar versions of the Marks, in a manner that implies DT's and/or T-Mobile's sponsorship or affiliation with, or certification, endorsement or approval of, you, your company, your products or services, or your views and opinions. If you are a licensed user of the Marks, you may use the Marks in this manner only to the extent permitted by your agreement. For example, if you are an authorized indirect dealer of T-Mobile goods and services, you may use the T-MOBILE&reg; logo to identify yourself as an authorized indirect dealer in compliance with your agreement.</li>
							<li class="mt20"><b>Objectionable Uses.</b> Do not use the Marks, or confusingly similar versions of the Marks, in any media or in any manner that is inaccurate, distasteful, obscene, sexually explicit, vulgar, profane, offensive, libelous, slanderous, religiously or racially offensive, or that disparages DT, T-Mobile or their respective affiliates and subsidiaries.</li>
							<li class="mt20"><b>Compliance with Laws.</b> Do not use the Marks, or confusingly similar versions of the Marks, in any media or in any manner that is untruthful, unfair, or that violates any law or regulation.</li>
							<li class="mt20"><b>Merchandise and Promotional Items.</b> Do not manufacture, market, distribute, sell, or give away merchandise or promotional items, such as T-shirts or mugs, that bear any Marks or confusingly similar versions of the Marks.</li>
						</ol>
						<div class="pb10 mt20">C. <b>Rules Applicable to Unlicensed Users.</b>If you believe that your are making a fair or nominative use of the Marks without license, you should include the following notice in legible print when using the Marks:</div>
						<p>&ldquo;[Your Company Name] and its products and services are not sponsored, certified, endorsed or approved by, or affiliated with, Deutsche Telekom AG or T-Mobile USA, Inc.&rdquo;</p>
						<div class="pb10 pt10">D. <b>Rules Applicable to Licensed Users.</b> If you are using the Marks under license, or if you formerly used the Marks under license, you are required to do the following:</div>
						<ol>
							<li>Unless otherwise set forth in your agreement, you must, within thirty (30) days of termination of your agreement for any reason, deliver to T-Mobile all literature, materials, business cards, signs, labels, and other documents and materials, and all registrations, upon which or in which the Marks appear. If authorized by T-Mobile and in lieu of the foregoing, you may permanently destroy such materials and certify in writing that you have done so.</li>
							<li class="mt20">Unless otherwise set forth in your agreement, DT and T-Mobile reserve the right to (1) review and approve any uses of the Marks by you and the nature and quality of the goods and services with which the Marks are used in advance of such use, and (2) demand a sampling of goods and media bearing the Marks to determine the manner in which you use the Marks and the nature and quality of the goods and services with which the Marks are used.</li>
						</ol>
						<div class="pb10 mt20">E. <b>Miscellaneous.</b>
						</div>
						<ol>
							<li>With respect to unlicensed users of the Marks, these Marks Rules are solely intended to set forth general usage guidelines. Nothing set forth herein may be construed as a license from or authorization by DT or T-Mobile to use the Marks, or as an admission that any unlicensed use of the Marks in compliance with these Marks Rules is either a fair or nominative use of the Marks, or a noninfringing or nondilutive use of the Marks.</li>
							<li class="mt20">With respect to licensed users of the Marks, these Marks Rules may be incorporated by reference into the terms of such user's license agreements or terms. Nothing set forth in these Marks Rules, or by virtue of their publication here, may be construed as a waiver by T-Mobile of any right of confidentiality in such agreements, all of which are expressly reserved.</li>
							<li class="mt20">T-Mobile reserves the right to begin using new Marks, update its existing Marks, and increase or decrease use of its Marks at any time in its sole discretion. T-Mobile reserves the right to modify and update these Marks Rules at any time. Please check these Marks Rules periodically to remain apprised of any modifications and updates.</li>
						</ol>
						<div class="pb10 mt20">F. <b>Noncompliant Use or Potentially Infringing Use by Others.</b>
						</div>
						<p>If you become aware of any use of the Marks, or confusingly similar versions of the Marks, by others that does not comply with these Marks Rules or that may constitute trademark infringement or dilution, please let us know by contacting us at <a href="javascript:void(0)">IPCOUNSEL@T-MOBILE.COM.</a> 
						</p>
					</section>
				</div>
			</div>
			<!--box holder-->
		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->
</body>

</html>