<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Working with T-Mobile</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->
	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->
			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">Working with T-Mobile</h3>
				<ul class="nav nav-pills nav-justified mb20">
					<li data-target-content="#affiliate" class="active"><a href="javascript:void(0)" class="text-uppercase gray">T-Mobile Affiliate <br class="hide show-sm">Program</a>
					</li>
					<li data-target-content="#procurement"><a href="javascript:void(0)" class="text-uppercase gray">Procurement <br class="hide show-sm">at T-Mobile</a>
					</li>
					<li data-target-content="#retailer"><a href="javascript:void(0)" class="text-uppercase gray">Retailer <br class="hide show-sm">Opportunities</a>
					</li>
					<li data-target-content="#partnerships"><a href="javascript:void(0)" class="text-uppercase gray">Partnerships<br class="hide show-sm">&nbsp;</a>
					</li>
					<li data-target-content="#supplier"><a href="javascript:void(0)" class="text-uppercase gray">Supplier Code <br class="hide show-sm">of Conduct</a>
					</li>
				</ul>
				<div id="contents">
					<h5 class="color-gray-dark">T-Mobile Affiliate Program</h5>
					<p>T-Mobile USA, Inc. is a leading global provider of mobile communication services across the U.S. We offer the best wireless plans with no annual service contracts and no upgrade hassles on the fastest nationwide 4G LTE network. Our Simple Choice Plan provides consumers with unlimited talk, text, and data that they can use anytime days, nights, and weekends while on our network with no overages. Ever.</p>

					<p>Additionally, our nationwide rate plans feature free nationwide long distance and free nationwide digital GSM roaming. T-Mobile USA is unique because we are the only national carrier to operate an all-GSM network, which is the most widely used wireless technology standard in the world. Our customers can use the same phone and number in more than 150 countries and locations worldwide.</p>

					<p>Plus T-Mobile customers can receive unlimited international data and text in 120+ countries and destinations PLUS unlimited international texting from the U.S. to virtually anywhere, included in their qualifying Simple Choice plan.</p>

					<h5 class="color-gray-dark mt20">Why partner with T-Mobile?</h5>
					<p>Because we pay great commissions! And partnering with us provides your customers with an outstanding and pain-free wireless experience and access to the latest products that everyone's talking about.</p>

					<p>We are looking to partner with companies or individuals that see the impact and opportunity of T-Mobile services and technology and how it's changing the mobile communications industry while providing consumers nationwide coverage and rates for their mobile devices. They'll receive the benefits of our breadth of coverage, the reliability of our network, and the quality of our service.</p>

					<p>You'll be partnering with a company that’s been designated one of the World's Most Ethical Companies six years in a row and that's changing the rules of the wireless world. Together we can help un-leash the consumer from annual service contracts and the old rules of wireless.</p>

					<h5 class="color-gray-dark mt20">Program highlights:</h5>
					<ul class="pl15 mb20">
						<li>Highly competitive compensation plan</li>
						<li>Compensation for all wireless plans</li>
						<li>A nationally recognized and highly marketed brand</li>
						<li>Special online-only promotions</li>
						<li>Other special, limited-time promotions</li>
					</ul>
					<a href="javascript:void(0)">Apply today ›</a>
					<p class="text-small mt50">See program Terms and Conditions at <a href="#">www.t-mobile.com/affiliate-terms-and-conditions.</a><span class="bold">Fastest 4G LTE Network</span> based on download speeds. <span class="bold">Simple Choice International Roaming:</span> Additional charges apply in excluded destinations; see <a href="#">www.t-mobile.com</a> for included destinations (subject to change at T-Mobile’s discretion). Qualifying postpaid Simple Choice plan with credit check and capable device required. <span class="bold">Standard speeds approx. 128 Kbps. Not for extended international use; you must reside in the U.S. and primary usage must occur on our U.S. network.</span> Service may be terminated or restricted for excessive roaming or misuse.</p>
				</div>
			</div>
			<!--box holder-->
		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->
</body>

</html>