<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Working with T-Mobile</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->
	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->
			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">Working with T-Mobile</h3>
				<ul class="nav nav-pills nav-justified mb20">
					<li data-target-content="#affiliate"><a href="javascript:void(0)" class="text-uppercase gray">T-Mobile Affiliate <br class="hide show-sm">Program</a>
					</li>
					<li data-target-content="#procurement" class="active"><a href="javascript:void(0)" class="text-uppercase gray">Procurement <br class="hide show-sm">at T-Mobile</a>
					</li>
					<li data-target-content="#retailer"><a href="javascript:void(0)" class="text-uppercase gray">Retailer <br class="hide show-sm">Opportunities</a>
					</li>
					<li data-target-content="#partnerships"><a href="javascript:void(0)" class="text-uppercase gray">Partnerships<br class="hide show-sm">&nbsp;</a>
					</li>
					<li data-target-content="#supplier"><a href="javascript:void(0)" class="text-uppercase gray">Supplier Code <br class="hide show-sm">of Conduct</a>
					</li>
				</ul>
				<div id="contents">
					<h5 class="color-gray-dark">Procurement at T-Mobile</h5>
					<p>At T-Mobile, we rely on thousands of suppliers to provide the goods and services required to support our business operations and serve our growing customer base. Because the goods and services provided by our suppliers affect our own products and services, we maintain high standards, seeking the highest quality solutions and service at the best value.</p>

					<p>T-Mobile is committed to its supplier relationships and we actively manage and monitor ongoing performance. We are always looking to expand our supplier base. If you are interested in working with T-Mobile, follow the registration process outlined below.</p>

					<h5 class="color-gray-dark mt20">Supplier Diversity Program</h5>
					<p>T-Mobile is committed to building relationships with small and diverse businesses that provide quality and competitively priced products and services. If your business is a certified minority-owned, woman-owned, service-disabled veteran-owned, veteran-owned, small, disadvantaged, or HUBZone business and you would like to work with T-Mobile, we would like to hear from you.</p>

					<h5 class="color-gray-dark mt20">Self-Certify for T-Mobile</h5>
					<p>If your company is interested in working with T-Mobile, the first step is to complete the self-certification process. Once your company information is added to the Duns & Bradstreet database and T-Mobile has identified a need for the goods or services provided by your company, a T-Mobile representative will reach out to you to explore potential opportunities. If there is not an immediate need, your company information will remain in the database.</p>

					<p>Note that the supplier database is hosted by a third party, Duns & Bradstreet. Entering your company information into the database will allow your company information to be searchable by all Duns & Bradstreet customers. We also request you to register with the California Public Utilities Commission (CPUC) to receive their CPUC certification.</p>

					<div class="text-italic mt30">Click <a target="_blank" href="#">here</a> to begin the supplier registration process with T-Mobile via Duns &amp; Bradstreet.</div>
					<div class="text-italic mt10">Click <a target="_blank" href="#">here</a> to register for California Public Utilities Commission (CPUC) certification.</div>
				</div>
			</div>
			<!--box holder-->
		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->
</body>

</html>