<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="UTF-8">
	<title>T-Mobile Official Website - Working with T-Mobile</title>
	<!--Temporarily disabled the "meta tag" for non-responsive layout-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/about.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')
	</script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
	<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	<!--Header Section Start-->
	<header id="header_body" class="header"></header>
	<!--/Header Section-->
	<!--Main Content Section Start-->
	<main>
		<div class="container">
			<!--Breadcrumb Section-->
			<section>
				<ul class="breadcrumb">
					<li><a href="http://t-mobile.com">Home</a>
					</li>
					<li>About T-Mobile</li>
				</ul>
			</section>
			<!--/Breadcrumb Section-->
			<h1 class="text-normal color-gray-dark mb20-sm">About-T-Mobile</h1>
			<hr class="hide-sm mb0">
			<!--box holder-->
			<div class="box-holder mb30">
				<div class="clearfix">
					<div class="pull-right mr15"><a href="#" class="cta">Back to About T-Mobile</a>
					</div>
				</div>
				<h3 class="mt10 mb20">Working with T-Mobile</h3>
				<ul class="nav nav-pills nav-justified mb20">
					<li data-target-content="#affiliate"><a href="javascript:void(0)" class="text-uppercase gray">T-Mobile Affiliate <br class="hide show-sm">Program</a>
					</li>
					<li data-target-content="#procurement"><a href="javascript:void(0)" class="text-uppercase gray">Procurement <br class="hide show-sm">at T-Mobile</a>
					</li>
					<li data-target-content="#retailer" class="active"><a href="javascript:void(0)" class="text-uppercase gray">Retailer <br class="hide show-sm">Opportunities</a>
					</li>
					<li data-target-content="#partnerships"><a href="javascript:void(0)" class="text-uppercase gray">Partnerships<br class="hide show-sm">&nbsp;</a>
					</li>
					<li data-target-content="#supplier"><a href="javascript:void(0)" class="text-uppercase gray">Supplier Code <br class="hide show-sm">of Conduct</a>
					</li>
				</ul>
				<div id="contents">
					<h5 class="color-gray-dark">Retailer Opportunities</h5>
					<p>The wireless industry is an incredibly exciting place to operate a business and T-Mobile is committed to the success of our Authorized Retailers and Resellers. If you are starting to think about retail opportunities please take a look at the T-Mobile Authorized Retailer Program.</p>

					<p class="mt20 mb20">The follow site will tell you about the program and why T-Mobile may be the perfect place to start or grow your own business:</p>

					<a href="javascript:void(0)">T-Mobile Authorized Retailer Program Website</a>
				</div>
			</div>
			<!--box holder-->
		</div>
	</main>
	<!--/Main Content Section-->
	<!--Footer Section Start-->
	<footer></footer>
	<!--/Footer Section-->
</body>

</html>