<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="UTF-8">
<title>T-Mobile Official Website - Store locator</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/store-locator.css">



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script>
<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>
<script src="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/js/samsung-galaxy-s-5.js"></script>
<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/spritespin.js"></script>
<script src="//example.com/path/to/video.js"></script>

<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!--Header Section Start-->
<header id="header_body" class="header">
</header>
<!--/Header Section--> 
<!--Main Content Section Start-->
<main><div class="container">
<div class="store-locator-heading mt20 mt30-sm clearfix">
		<h1 class="color-gray text-normal pull-left"><em>Store Locator</em></h1>
		<div class="store-printer pull-right icon-ui icon-print-lg hide-ph mt30" onclick="window.print();"></div>
	</div>
	<div class="box-holder pt0-sm">
		<!--Map section-->
		<div class="map-canvas mb30-sm full-width hide-ph">
			<div class="map-api">
			</div>
		</div>
		<!--/Map section-->
		<!--Location search section-->
		<div class="row">
			<div class="col-sm-2 col-ph-12 mb15-ph col-sm-push-8 col-lg-push-8">
				<div>
					<span class="push-pin-store pull-left"></span>T-Mobile store
				</div>
			</div>
			<div class="col-sm-2 col-ph-12 mb15-ph col-sm-push-8 col-lg-push-8">
				<div>
					<span class="push-pin-retailer pull-left"></span>Authorized retailer
				</div>
			</div>
			<div class="col-sm-8 col-ph-12 col-sm-pull-4 col-lg-pull-4">
				<div class="location-search">
					<div class="form-group pos-rel">
						<div class="pos-abs store-icon"></div>
	        			<div class="input-group store-search-group col-sm-7">          
		          			<input type="email" placeholder="Find a store near you" class="form-control pl40-sm pl40-ph text-small">
		          			<div class="input-group-addon"><input type="button" class="icon-ui icon-search-locator border-0x"/></div>
	        			</div>	
		      		</div>
				</div>
			</div>
		</div>
		<!--/Location search section-->
		<div class="clearfix"></div>
		<!--Search result section-->
		<div class="row border-top-dotted pt30-sm mt50-sm pt15-ph">
			<div class="col-sm-3 col-ph-12 col-sm-push-9">
				<span class="push-pin-address text-center color-white pull-left-sm pt5-sm hidden-sm hidden-lg pull-left">1</span><span class="text-small pull-left-ph ml10-ph mt10-ph">0.0 miles away</span>
			</div>
			<div class="col-sm-6 col-ph-12 col-sm-pull-3">
				<span class="push-pin-address text-center color-white pull-left-sm pt5-sm visible-sm visible-lg visible-sm">1</span>
				<address class="address-holder lh-default mb10-sm pull-left ml15-sm">
					<span class="text-bold">T-Mobile Headquarters</span><br>
					12920 SE 38th Street, Bellevue, WA 94110<br>
					<a href="tel:888-547-6103">888-547-6103</a><br>
					<a href="#" class="cta mt10-sm">Direction</a>
				</address>
			</div>
			<div class="col-sm-3 col-ph-12 col-sm-pull-4">
				<span class="color-black text-bold">Hours</span>
			</div>
		</div>
		<!--/Search result section-->
	</div>
	<!--Contact-business link section-->
	<div class="contact-business-links pull-right pr50-sm pr20-ph lh-default">
		<div class="business-link mb10 text-right">
			<span class="color-black text-bold">Shopping for your business?</span><a href="#" class="cta text-bold"> Find a business representative</a>
		</div>
		<div class="contact-link text-right">
			<span class="color-black text-bold">Need help?</span><a href="#" class="cta text-bold"> Contact us</a>
		</div>
	</div>
	<!--/Contact-business link section-->
	<div class="clearfix"></div>
	<!--Powered by text section-->
	<div class="mt15 mb25 pl30 pl15-ph pl30-sm">
		<small class="text-small text-bold">Powered by Google Maps and Spatial Point.</small>
	</div>
	<!--/Powered by text section-->
</div></main>
<!--/Main Content Section--> 
<!--Footer Section Start-->
<footer>
</footer>
<!--/Footer Section--> 
</body>
</html>