<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="UTF-8">
<title>T-Mobile Official Website - Internet-device Page</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/cell-phones.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script>
<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>
<script src="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/js/samsung-galaxy-s-5.js"></script>
<script src="//example.com/path/to/video.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!--Header Section Start-->
<header id="header_body" class="header"></header>
<!--/Header Section--> 

<!--Main Content Section Start -->
<main class="shop-devices">
<!--cell phone carousel -->
<div class="bg-white pb30 pt30">
	<div class="container">
		<div id="cell-phone-carousel" class="mb30 circle-arrow"> 
			<!--item1 -->
			<div class="text-center">
				<div class="row">
					<div class="col-sm-5 text-center">
						<figure class="text-center"> <img class="center-block" alt="Samsung Galaxy S 5" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/internet-devices/browse-mq-alcatel-onetouch-pop7.png"> </figure>
					</div>
					<div class="col-sm-7 text-left text-center-ph">
						<div class="pt50-lg pt50-md pt20-sm mr50-sm">
							<h3 class="color-gray-dark pt30-lg mt40-ph">Introducing</h3>
							<h2 class="text-normal color-primary"><em>The ALCATEL ONETOUCH<sup>&reg;</sup> POP&trade; 7 tablet at only $168</em></h2>
							<h6 class="color-gray-dark mt15 mb20-lg mb20-md mb10-sm text-large lh1-2">$0 down + $7/mo. x 24 mos.<span class="bold">If you cancel wireless service, remaining balance on device becomes due.</span></h6>
							<div class="mt30-ph"><a href="#" class="cta bold">Shop now</a></div>
							<div class="text-small mt20">For well-qualified buyers. 0% APR, O.A.C. Qual’g service req’d.</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /item1 --> 
			<!--item2 -->
			<div class="text-center">
				<div class="row">
					<div class="col-sm-5 text-center">
						<figure class="text-center"> <img class="center-block" alt="Samsung Galaxy S 5" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/internet-devices/ipad-air-browse.png"> </figure>
					</div>
					<div class="col-sm-7 text-left text-center-ph">
						<div class="pt50-lg pt50-md pt20-sm mr50-sm">
							<h2 class="text-normal color-primary"><em>iPad Air</em></h2>
							<h6 class="color-gray-dark mt15 mb20-lg mb20-md mb10-sm text-large lh1-2">iPad Air is 20 percent thinner and weighs just one pound, so it feels unbelievably light in your hand. It comes with a 9.7-inch Retina display, the A7 chip with 64-bit architecture, ultrafast wireless, and powerful apps.</h6>
							<div class="mt30-ph"><a href="#" class="cta bold">Buy now</a></div>
							<div class="text-small mt20">Compared with iPad (4th generation).</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /item2 --> 
			<!--item3 -->
			<div class="text-center">
				<div class="row">
					<div class="col-sm-5 text-center">
						<figure class="text-center"> <img class="center-block" alt="Samsung Galaxy S 5" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/internet-devices/browse-mq-samsung-galaxy-note-10.png"> </figure>
					</div>
					<div class="col-sm-7 text-left text-center-ph">
						<div class="pt50-lg pt50-md pt20-sm mr50-sm">
							<h2 class="text-normal color-primary"><em>Now with up to 1 GB FREE 4G LTE data every month through 2014.* </em></h2>
							<div class="mt30-ph"><a href="#" class="cta bold">Buy now</a></div>
							<div class="text-small mt20">*With qualifying voice plan</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /item3 --> 
			<!--item4 -->
			<div class="text-center">
				<div class="row">
					<div class="col-sm-5 text-center">
						<figure class="text-center"> <img class="center-block" alt="Samsung Galaxy S 5" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/internet-devices/browse-mq-fiji-device-launch.jpg"> </figure>
					</div>
					<div class="col-sm-7 text-left text-center-ph">
						<div class="pt50-lg pt50-md pt20-sm mr50-sm">
							<h2 class="text-normal color-primary"><em> Introducing the all-new Samsung Galaxy Tab<sup><sup>&reg;</sup></sup> 4 </em></h2>
							<h6 class="color-gray-dark mt15 mb20-lg mb20-md mb10-sm text-large lh1-2">The sleek and stylish Samsung Galaxy Tab 4 gives you access to your favorite apps, and a vivid 8-inch HD screen for all the entertainment you want, virtually anywhere</h6>
							<div class="mt30-ph"><a href="#" class="cta bold">Shop now</a></div>
						</div>
					</div>
				</div>
			</div>
			<!-- /item4 --> 
		</div>
	</div>
</div>
<!--/cell phone carousel-->
<div class="container">
<!-- float Nav Section -->
<section class="row fademenu-holder border-top-ph border-bottom-ph ">
	<nav class="float-nav clearfix">
		<ul class="list-unstyled">
			<li class="col-ph-4 col-sm-4 text-center active"> <span class="icon-ui icon-broadband"></span><a href="#" class="center-block text-small mt10">TABLETS AND DEVICES</a> </li>
			<li class="col-ph-4 col-sm-4 text-center"> <span class="icon-ui icon-phones"></span><a href="#" class="center-block text-small mt10">PHONES</a> </li>
			<li class="col-ph-4 col-sm-4 text-center"> <span class="icon-ui icon-accessories"></span><a href="#" class="center-block text-small mt10">ACCESSORIES</a> </li>
		</ul>
	</nav>
	<nav class="float-nav clearfix hide-ph" id="fademenu">
		<ul class="list-unstyled">
			<li class="col-ph-3 col-sm-3 text-center active"> <a href="#Features" class="center-block text-small active">TABLETS AND DEVICES</a> </li>
			<li class="col-ph-3 col-sm-3 text-center"> <a href="#Reviews" class="center-block text-small">PHONES</a> </li>
			<li class="col-ph-3 col-sm-3 text-center"> <a href="#Accessories" class="center-block text-small">ACCESSORIES</a> </li>
			<li class="col-ph-3 col-sm-3 text-center"> <a href="#" class="center-block text-small">BACK TO TOP <span class="back-top-top"></span></a> </li>
		</ul>
	</nav>
</section>
<!--/float Nav Section --> 
<!--samsung-carousel-top-->
<section class="samsung-carousel-top mt30">
<div class="box-holder pt20 mb0">
	<div class="row hidden-ph credit-ratings">
		<div class="col-md-8 col-sm-6 text-small"> <span class="bold">Select your credit rating.</span> Self selection may not reflect actual credit available. Up-front device cost may vary based on your credit. </div>
		<div class="col-md-4 col-sm-6 text-right-sm mt20-ph">
			<select class="selectpicker credit-rating">
				<option>Excellent/Good Credit</option>
				<option>Building Credit</option>
				<option>No Credit Check</option>
			</select>
			<div class="icon-ui icon-tool-tip ml10 tool-icon pos-rel" title=""></div>
			<div class="tool-tip box-holder lh2-0 p10 pos-abs">
				<p align="left"> Your up-front device cost and number of lines is based upon your credit. Before running your credit application, you can estimate your up-front device cost by self-selecting your credit rating; actual prices may vary based upon actual credit. <br>
					<span class="text-bold color-black">Excellent/Good</span><br>
					I have a long established positive credit history or have been a T-Mobile customer in good standing.<br>
					<span class="text-bold color-black">Building</span><br>
					I have significant credit issues or have only recently established credit. <br>
					<span class="text-bold color-black">Skip the credit check</span><br>
					I would like to skip the credit check and see what my options look like.<br>
					<br>
					<a href="#">Learn more</a> </p>
			</div>
		</div>
	</div>
	<hr class="border-gray-light">
	<!-- Filter Section Starts -->
	<div class="row device-list ml-5 mr-5">
		<div class="col-sm-4 pl5 pr5"> <a href="internet-devices-staff-picks.html" type="button" class="btn btn-default mb10 btn-full cta pr15">Staff Picks</a> </div>
		<div class="col-sm-4 pl5 pr5"> <a href="internet-devices-great-deals.html" type="button" class="btn btn-default mb10 btn-full cta pr15">Great Deals</a> </div>
		<div class="col-sm-4 pl5 pr5"> <a href="internet-devices-refurbished.html" type="button" class="btn btn-default mb10 btn-full cta pr15 active">Refurbished</a> </div>
	</div>
	<div class="mb30">
		<form role="form">
			<div class="row ml-5 mr-5">
				<div class="col-sm-20p pl5 pr5 mb10">
					<button id="show-all" type="button" class="btn btn-success btn-full">Show All</button>
				</div>
				<select id="brands" class="selectpicker col-ph-100p col-sm-20p pl5 pr5" multiple show-tick title="BRANDS" data-live-search="true" data-selected-text-format="count>2">
					<option class="reset" value="reset">Reset</option>
					<optgroup label="BRANDS">
					<option value="Alcatel">ALCATEL</option>
					<option value="Apple iphone ipad ipod">Apple</option>
					<option value="Beats">Google </option>
					<option value="Belkin">HTC </option>
					<option value="Belkin">LG </option>
					<option value="Apple iphone ipad ipod">Nokia </option>
					<option value="Beats">Samsung</option>
					<option value="Belkin">Sony </option>
					<option value="Belkin">T-mobile</option>
					</optgroup>
				</select>
				<select id="features" class="selectpicker col-ph-100p col-sm-20p pl5 pr5" multiple show-tick title="FEATURES" data-live-search="true" data-selected-text-format="count>1">
					<option class="reset" value="reset">Reset</option>
					<optgroup label="FEATURES">
					<option value="Alcatel">4G</option>
					<option value="Apple iphone ipad ipod">High Resolution Screen</option>
					<option value="Beats">International</option>
					<option value="Belkin">Mobile Hotspot Ready</option>
					<option value="Belkin">QWERTY Keyboard </option>
					<option value="0-15">Removeable Memory</option>
					<option value="15-30">WEA Capable</option>
					<option value="30-50">Wi-Fi Calling</option>
					</optgroup>
				</select>
				<select id="categories" class="selectpicker col-ph-50p col-sm-20p pl5 pr5" multiple show-tick title="OS" data-selected-text-format="count>2">
					<option class="reset" value="reset">Reset</option>
					<optgroup label="OS">
					<option value="Android">Android</option>
					<option value="iOS">iOS</option>
					<option value="Blackberry">Blackberry</option>
					<option value="Windows">Windows</option>
					</optgroup>
				</select>
				<select id="price-sorting" title="SORT BY" class="selectpicker col-ph-50p col-sm-20p pl5 pr5">
					<option value="low-to-hight">Price low to high</option>
					<option value="high-to-low">Price high to low</option>
					<option value="low-to-hight">Best seller</option>
					<option value="high-to-low">Highest rating</option>
				</select>
			</div>
		</form>
	</div>
	<!--/Filter Section -->
	<div class="freeshipping_tab"> 
		<!-- Tab panes -->
		<div class="tab-content"> 
			<!-- tab filter-->
			<div class="row mt25 hidden-ph">
				<div class="col-md-9 col-sm-6"> <span class="text-primary"><i>FREE SHIPPING ON ALL OUR BEST TABLETS & DEVICES</i></span></div>
			</div>
			<!--/tab filter-->
			<div class="tab-pane active" id="mosthelpful"> 
				<!--Free Shipping products-->
				<div class="row mt50 pb10">
					<div class="col-lg-3 col-ph-12 col-sm-6 col-md-4 text-center border-top-dotted-ph mt15-ph pt15-ph product-item"> 
						<!-- Compare Section -->
						<div class="compare_main compare_main mb20">
							<input type="checkbox"/>
							<a class="ml5 pl5 text-small" href="#">Compare</a> </div>
						<!--/Compaire Section -->
						<figure> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/internet-devices/web8.jpg" alt="Samsung Galaxy S5"> </figure>
						<div class="phone-info">
							<div class="pt30"><a href="#" class="color-gray-dark">Samsung LTE Mobile HotSpot PRO - Refurbished</a></div>
							<div class="mt5"><a data-target="#up-front-modal" data-toggle="modal" href="#">$0 up front</a></div>
							<div class="offer-text">Save $48 off the new stock price of $168! </div>
						</div>
					</div>
					<div class="col-lg-3 col-ph-12 col-sm-6 col-md-4 text-center border-top-dotted-ph mt15-ph pt15-ph product-item"> 
						<!-- Compare Section -->
						<div class="compare_main compare_main mb20">
							<input type="checkbox"/>
							<a class="ml5 pl5 text-small" href="#">Compare</a> </div>
						<!--/Compaire Section -->
						<figure> <img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/internet-devices/samsung-refurbished-tab.jpg" alt="Samsung Galaxy S5" > </figure>
						<div class="phone-info">
							<div class="pt30"><a href="#" class="color-gray-dark">Samsung Galaxy Tab™ 2 10.1 - Refurbished</a></div>
							<div class="mt5"><a data-target="#up-front-modal" data-toggle="modal" href="#">$299<sup>99</sup> full retail price</a></div>
							<div class="offer-text">Save $108 off the new stock price of $408</div>
						</div>
					</div>
				</div>
				<!--Wireless Text-->
				<div class="wireless-text-container text-center"><span class="">IF YOU CANCEL WIRELESS SERVICE, REMAINING BALANCE ON PHONE BECOMES DUE.</span></div>
				<!--/Wireless Text--> 
				<!--/Free Shipping products--> 
			</div>
		</div>
		<!--/top carousel--> 
	</div>
	</section>
	<!--/samsung-carousel-top--> 
	
	<!-- Questions on shopping -->
	<div class="box-holder pb30 mt20">
		<div class="row mb20">
			<div class="col-sm-8 col-ph-12 border-right-sm">
				<h3 class="mb25 text-normal"><em>Questions on shopping?</em></h3>
				<ul class="accordion mr20 lh2-0">
					<li> <a href="javascript:void(0)"><i class="icon-ui icon-expand-mgt lh2-0"></i>What is mobile internet?</a>
						<p class="detail">Mobile internet is the wireless data service that allows you to connect to the full Internet on a mobile internet-capable device through T-Mobile's network. Mobile internet-capable Internet devices from T-Mobile® include tablets, Ultrabooks, mobile hotspots, and laptop sticks.</p>
					</li>
					<li> <a href="javascript:void(0)"><i class="icon-ui icon-expand-mgt lh2-0"></i>How is mobile internet different from Wi-Fi?</a>
						<p class="detail">Mobile internet can be more convenient than Wi-Fi because it allows you to connect to the Internet anywhere you get a T-Mobile data network signal, instead of having to hunt for a free Wi-Fi location. When traveling to areas with T-Mobile coverage, this saves you the chore of purchasing access and memorizing multiple Wi-Fi logins.</p>
					</li>
					<li> <a href="javascript:void(0)"><i class="icon-ui icon-expand-mgt lh2-0"></i>How can I save $10 on my mobile internet rate plan?</a>
						<p class="detail">Add a mobile internet package (Internet device and plan) to any voice package (individual or family), and you immediately qualify for the $10 mobile internet rate plan monthly discount.</p>
					</li>
					<li> <a href="javascript:void(0)"><i class="icon-ui icon-expand-mgt lh2-0"></i>When will I see the $10 discount applied?</a>
						<p class="detail">The $10 discount will be applied as a bill credit to your monthly bill.</p>
					</li>
					<!-- collapse li -->
					<li class="over-limit collapse"><a href="javascript:void(0)"><i class="icon-ui icon-expand-mgt lh2-0"></i>The Internet isn't working on my Internet Device, what should I do?</a>
						<p class="detail">There are a number of reasons why the Internet may not be working on your device but we'll help you figure it out!</p>
						<a target="_blank" href="#" class="detail">Learn more</a> </li>
					<li class="over-limit collapse"><a href="javascript:void(0)"><i class="icon-ui icon-expand-mgt lh2-0"></i>What can I do about my Internet connection dropping on my Internet Device?</a>
						<p class="detail">Your connection could be dropping for a number of reasons but we'll help you figure it out!</p>
						<a target="_blank" href="#" class="detail">Learn more</a> </li>
					<li class="over-limit collapse"><a href="javascript:void(0)"><i class="icon-ui icon-expand-mgt lh2-0"></i>How do I speed up my Internet on my tablet or HotSpot?</a>
						<p class="detail">Slow Internet speeds can be caused by a variety of factors such as low signal or not being in 3G or 4G coverage area.</p>
						<a target="_blank" href="#" class="detail">Learn more</a> </li>
					<li class="over-limit collapse"><a href="javascript:void(0)"><i class="icon-ui icon-expand-mgt lh2-0"></i>How do I activate my Pay in Advance Internet Device?</a>
						<p class="detail">You can activate your Pay in Advance laptop stick by using the Connection Manager software provided on the laptop stick.</p>
						<a target="_blank" href="#" class="detail">Learn more</a> </li>
					<li class="over-limit collapse"><a href="javascript:void(0)"><i class="icon-ui icon-expand-mgt lh2-0"></i>How do I check my data usage for my Pay in Advance laptop stick or Mobile HotSpot?</a>
						<p class="detail">You can check your data usage for your Pay in Advance laptop stick by using the Connection Manager software provided on the laptop stick.</p>
						<a target="_blank" href="#" class="detail">Learn more</a> </li>
					<li class="over-limit collapse"><a href="javascript:void(0)"><i class="icon-ui icon-expand-mgt lh2-0"></i>How do I change the SSID and/or password for my Mobile HotSpot?</a>
						<p class="detail">You can change the SSID and/or password for your T-Mobile 4G Mobile Hotspot by accessing the Mobile Hotspot Admin Page.</p>
						<a target="_blank" href="#" class="detail">Learn more</a> </li>
					<!-- /collapse li -->
				</ul>
			</div>
			<div class="col-sm-4 col-ph-12 hidden-xs">
				<h3 class="text-normal"><em>Still have questions?</em></h3>
				<div>
					<figure> <a href="javascript:void(0)"><img src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/internet-devices/T-Mob_Conact-Special-C2C-v2.png"/></a> </figure>
				</div>
				<div class="clearfix"></div>
				<div class="text-small">Call 1-800-T-MOBILE:&nbsp;<br class="visible-sm">
					<a href="tel:1-800-866-2453">1-800-866-2453</a></div>
			</div>
		</div>
		<div class="text-center border-top-dotted border-bottom-dotted pt25 pb25 toggle-question"> <a class="gray show-toggle" data-toggle="collapse" data-target=".over-limit" href="javascript:void(0)">View 7 more questions<span class="collapsed-view"></span></a> </div>
		<div class="row mt25 hidden-sm hidden-md hidden-lg">
			<h3>Still have questions?</h3>
			<h4 class="color-gray mb30">Live chat is available from 5am-10am PST.</h4>
			<div>Call 1-800-T-MOBILE:&nbsp;<a href="tel:1-800-866-2453">1-800-866-2453</a></div>
		</div>
	</div>
	<!-- /Questions on shopping --> 
	<!-- third party content -->
	<div class="third-party-content mb50">
		<p class="legal">Limited time offer; subject to change. Taxes and fees additional. <span class="bold">General Terms:</span> At participating locations. Credit approval, deposit, qualifying service, and $10 SIM Starter Kit may be required. <span class="bold">Equipment Installment Plan:</span> Availability and amount of EIP financing <span class="bold">subject to credit approval.</span> Down payment and unfinanced portion required at purchase. Balance paid in monthly installments. Must remain on qualifying service in good standing for duration of EIP agreement. If you cancel wireless service, remaining balance on phone becomes due. Taxes and late/non-payment fees may apply. Participating locations only. Example(s) shown reflects down payment and monthly payments of our most creditworthy customers; amounts for others will vary. Pricing applicable to single device purchase. Device and screen images simulated. Coverage not available in some areas.</p>
	</div>
	<!-- /third party content --> 
</div>
</main>
<!--/Main Content Section--> 
<!--Footer Section Start-->
<footer> </footer>
<!--/Footer Section-->

</body>
</html>