<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="UTF-8">
<title>T-Mobile Official Website - Home Page</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/return-policy.css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script>
<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>

<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>

<!--Header Section Start-->
<header id="header_body" class="header"> </header>
<!--/Header Section--> 

<!--Main Content Section Start-->
<main><div class="container">
<!--Bredcrumb Section Start-->
	<section>
		<ul class="breadcrumb">
			<li><a href="http://t-mobile.com">Home</a></li>
			<li>Return Policy</li>
		</ul>
	</section>
	<!-- /Bredcrumb Section-->
	
	<h1 class="text-normal color-gray-dark mb20-sm">Return Policy</h1>
	<div class="box-holder return-policy mb30">
		<p class="mb10">To see the return policy applicable for your Device, select how you made your purchase below.</p>
		<h5>In the store:</h5>
		<ul class="mb20">
			<li><a href="#">T-Mobile retail location</a></li>
			<li><a href="#">Authorized third-party dealer</a></li>
		</ul>
		<h5>On the phone:</h5>
		<ul class="mb20">
			<li><a href="#">New sale and activation</a></li>
			<li><a href="#">Upgrade</a></li>
		</ul>
		<h5>Online:</h5>
		<ul class="mb20">
			<li><a href="#">New sale and activation</a></li>
			<li><a href="#">Upgrade</a></li>
		</ul>
		<h5 class="mb20">In the store:</h5>
		<h5 class="mb20 color-gray-dark">T-Mobile retail location</h5>
		<p class="mb20">To receive a refund or to exchange a device (less any discounts or rebates), or to cancel your service without incurring an early termination fee (for service contracts of 1 year or more), return your Device in its original package with all original contents undamaged and in good working condition with no material alterations to the Device’s hardware or software to any T-Mobile retail store </p>
		<ul class="mb20">
			<li><a href="#">Hawaii:</a></li>
			<li><a href="#">All other states:</a></li>
		</ul>
		<h5 class="mb20 color-gray-dark">Authorized third-party dealer</h5>
		<p class="mb20">For Device and accessory refunds and exchanges, see the individual authorized dealer’s return policies applicable to your purchase. To cancel service without incurring an early termination fee (for service contracts of 1 year or more), return your Device in its original package with all original contents undamaged and in good working condition with no material alterations, within 14 days of the purchase date of the original Device to the authorized dealer location where you purchased it.</p>
		<div class="mb35"><a href="#">Back to top</a></div>
		<h5 class="mb20">On the phone:</h5>
		<h5 class="mb20 color-gray-dark">New sale and activation</h5>
		<p class="mb20">For a refund, to exchange a device, or to cancel your new service activation without a termination fee (for service contracts of 1 year or more) , return your Device <span class="text-bold">within 20 calendar days of the date you received your Device</span>. During this period, you may return or exchange your Device, or cancel your new service activation for any reason, as long as you:</p>
		<ul>
			<li>Contact us at 1-800-866-2453 to cancel your new service activation; and for all returns and exchanges:</li>
			<li>Return all equipment acquired in connection with your activation along with proof of purchase.
				<ul>
					<li>You must return your Device in its original package with all original contents, undamaged and in good working condition with no material alterations to the Device’s hardware or software.</li>
					<li >Accessories or other items received as part of a promotional offer (e.g. "Buy One Get One" etc.) must be returned for a refund or exchange.</li>
					<li>Limited edition and some other Devices may not be refunded or exchanged.</li>
					<li>Refunds and exchanges will be less any rebates, restocking fees, and shipping costs.</li>
					<li>If you do not return your Device or if you return your Device in a damaged or altered condition, we may take one or more of the following actions:
						<ul>
							<li class="list-style-alpha">Prevent your Device from working;</li>
							<li class="list-style-alpha">Charge you the early termination fee after the service cancellation period (for service contracts of one year or more)</li>
							<li class="list-style-alpha">Elect not to process your service cancellation;</li>
							<li class="list-style-alpha">Charge you the cost to repair a damaged or altered Device; or</li>
							<li class="list-style-alpha">Charge you the suggested retail price of a destroyed or altered Device, or, in the case of cancelled service, a non-returned Device, (which may be greater than the price you paid), plus any shipping and handling charges.</li>
						</ul>
					</li>
					<li>You are responsible for any charges incurred prior to service cancellation, including roaming, long distance, taxes, control charges, regulatory program fees, and other fees.</li>
					<li> You may also be required to pay a restocking fee for all returned or exchanged Devices as follows:
						<ul>
							<li>The restocking fee is $75 for advanced, data-focused devices that are designed for web browsing (e.g.: tablets, netbooks).</li>
							<li>The restocking fee is $50 for “smart phone” devices, which are high-end devices designed for web and social media use in addition to standard phone usage such as voice and text messaging.</li>
							<li>The restocking fee is $25 for all other devices (e.g.: basic phone devices and data sticks).</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<h5 class="mb20">Upgrade</h5>
		<p class="mb20"> For a refund, to exchange a Device or to cancel an upgrade service activation without a termination fee (for service contracts of 1 year or more), return your Device in its original package with all original contents undamaged and in good working condition with no material alterations to the Device's hardware or software, along with proof or purchase and a completed Return Form, <span class="text-bold">within 20 calendar days of the date you received your Device</span>. During this period, you may return or exchange your Device, or cancel your upgrade service activation for any reason, as long as you: </p>
		<ul class="mb20">
			<li>Contact us at <span class="text-bold">1-800-866-2453</span> to cancel your new service activation; and for all returns and exchanges:</li>
			<li>Return all equipment acquired in connection with your activation along with proof of purchase.
				<ul>
					<li>You must return your Device in its original package with all original contents, undamaged and in good working condition with no material alterations to the Device’s hardware or software.</li>
					<li >Accessories or other items received as part of a promotional offer (e.g. "Buy One Get One" etc.) must be returned for a refund or exchange.</li>
					<li>Limited edition and some other Devices may not be refunded or exchanged.</li>
					<li>Refunds and exchanges will be less any rebates, restocking fees, and shipping costs.</li>
					<li>If you do not return your Device or if you return your Device in a damaged or altered condition, we may take one or more of the following actions:
						<ul>
							<li class="list-style-alpha">Prevent your Device from working;</li>
							<li class="list-style-alpha">Charge you the early termination fee after the service cancellation period (for service contracts of one year or more)</li>
							<li class="list-style-alpha">Elect not to process your service cancellation;</li>
							<li class="list-style-alpha">Charge you the cost to repair a damaged or altered Device; or</li>
							<li class="list-style-alpha">Charge you the suggested retail price of a destroyed or altered Device, or, in the case of cancelled service, a non-returned Device, (which may be greater than the price you paid), plus any shipping and handling charges.</li>
						</ul>
					</li>
					<li>You are responsible for any charges incurred prior to service cancellation, including roaming, long distance, taxes, control charges, regulatory program fees, and other fees.</li>
					<li> You may also be required to pay a restocking fee for all returned or exchanged Devices as follows:
						<ul>
							<li>The restocking fee is $75 for advanced, data-focused devices that are designed for web browsing (e.g.: tablets, netbooks).</li>
							<li>The restocking fee is $50 for “smart phone” devices, which are high-end devices designed for web and social media use in addition to standard phone usage such as voice and text messaging.</li>
							<li>The restocking fee is $25 for all other devices (e.g.: basic phone devices and data sticks).</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<div class="mb35"><a href="#">Return form:</a></div>
		<h5 class="mb20">Important:</h5>
		<ul>
			<li>If any items (a) are returned after the specified return period; (b) have been physically damaged, modified, or damaged by liquids; or (c) are missing any part(s), you will not receive any credit on your purchase price.</li>
			<li>A different return period may apply to accessory purchases. Prepaid services, e-coupons, software, and games are not refundable</li>
		</ul>
		<h5 class="mb20 color-gray-dark">Note:</h5>
		<p class="mb20">If your Device has not yet been delivered, simply refuse delivery of the package and the Device will be returned to T-Mobile.</p>
		<div class="mb35"><a href="#">Back to top</a></div>
		<h5 class="mb20">Online:</h5>
		<h5 class="mb20 color-gray-dark">New sale and activation</h5>
		<p class="mb20">For a refund, to exchange a device, or to cancel your new service activation without a termination fee (for service contracts of 1 year or more) , return your Device <span class="text-bold">within 20 calendar days of the date you received your Device</span>. During this period, you may return or exchange your Device, or cancel your new service activation for any reason, as long as you:</p>
		<ul>
			<li>Contact us at 1-800-866-2453 to cancel your new service activation; and for all returns and exchanges:</li>
			<li>Return all equipment acquired in connection with your activation along with proof of purchase.
				<ul>
					<li>You must return your Device in its original package with all original contents, undamaged and in good working condition with no material alterations to the Device’s hardware or software.</li>
					<li >Accessories or other items received as part of a promotional offer (e.g. "Buy One Get One" etc.) must be returned for a refund or exchange.</li>
					<li>Limited edition and some other Devices may not be refunded or exchanged.</li>
					<li>Refunds and exchanges will be less any rebates, restocking fees, and shipping costs.</li>
					<li>If you do not return your Device or if you return your Device in a damaged or altered condition, we may take one or more of the following actions:
						<ul>
							<li class="list-style-alpha">Prevent your Device from working;</li>
							<li class="list-style-alpha">Charge you the early termination fee after the service cancellation period (for service contracts of one year or more)</li>
							<li class="list-style-alpha">Elect not to process your service cancellation;</li>
							<li class="list-style-alpha">Charge you the cost to repair a damaged or altered Device; or</li>
							<li class="list-style-alpha">Charge you the suggested retail price of a destroyed or altered Device, or, in the case of cancelled service, a non-returned Device, (which may be greater than the price you paid), plus any shipping and handling charges.</li>
						</ul>
					</li>
					<li>You are responsible for any charges incurred prior to service cancellation, including roaming, long distance, taxes, control charges, regulatory program fees, and other fees.</li>
					<li> You may also be required to pay a restocking fee for all returned or exchanged Devices as follows:
						<ul>
							<li>The restocking fee is $75 for advanced, data-focused devices that are designed for web browsing (e.g.: tablets, netbooks).</li>
							<li>The restocking fee is $50 for “smart phone” devices, which are high-end devices designed for web and social media use in addition to standard phone usage such as voice and text messaging.</li>
							<li>The restocking fee is $25 for all other devices (e.g.: basic phone devices and data sticks).</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<h5 class="mb20">Upgrade</h5>
		<p class="mb20"> For a refund, to exchange a Device or to cancel an upgrade service activation without a termination fee (for service contracts of 1 year or more), return your Device in its original package with all original contents undamaged and in good working condition with no material alterations to the Device's hardware or software, along with proof or purchase and a completed Return Form, <span class="text-bold">within 20 calendar days of the date you received your Device</span>. During this period, you may return or exchange your Device, or cancel your upgrade service activation for any reason, as long as you: </p>
		<ul class="mb20">
			<li>Contact us at <span class="text-bold">1-800-866-2453</span> to cancel your new service activation; and for all returns and exchanges:</li>
			<li>Return all equipment acquired in connection with your activation along with proof of purchase.
				<ul>
					<li>You must return your Device in its original package with all original contents, undamaged and in good working condition with no material alterations to the Device’s hardware or software.</li>
					<li >Accessories or other items received as part of a promotional offer (e.g. "Buy One Get One" etc.) must be returned for a refund or exchange.</li>
					<li>Limited edition and some other Devices may not be refunded or exchanged.</li>
					<li>Refunds and exchanges will be less any rebates, restocking fees, and shipping costs.</li>
					<li>If you do not return your Device or if you return your Device in a damaged or altered condition, we may take one or more of the following actions:
						<ul>
							<li class="list-style-alpha">Prevent your Device from working;</li>
							<li class="list-style-alpha">Charge you the early termination fee after the service cancellation period (for service contracts of one year or more)</li>
							<li class="list-style-alpha">Elect not to process your service cancellation;</li>
							<li class="list-style-alpha">Charge you the cost to repair a damaged or altered Device; or</li>
							<li class="list-style-alpha">Charge you the suggested retail price of a destroyed or altered Device, or, in the case of cancelled service, a non-returned Device, (which may be greater than the price you paid), plus any shipping and handling charges.</li>
						</ul>
					</li>
					<li>You are responsible for any charges incurred prior to service cancellation, including roaming, long distance, taxes, control charges, regulatory program fees, and other fees.</li>
					<li> You may also be required to pay a restocking fee for all returned or exchanged Devices as follows:
						<ul>
							<li>The restocking fee is $75 for advanced, data-focused devices that are designed for web browsing (e.g.: tablets, netbooks).</li>
							<li>The restocking fee is $50 for “smart phone” devices, which are high-end devices designed for web and social media use in addition to standard phone usage such as voice and text messaging.</li>
							<li>The restocking fee is $25 for all other devices (e.g.: basic phone devices and data sticks).</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<div class="mb35"><a href="#">Return form:</a></div>
		<h5 class="mb20">Important:</h5>
		<ul>
			<li>If any items (a) are returned after the specified return period; (b) have been physically damaged, modified, or damaged by liquids; or (c) are missing any part(s), you will not receive any credit on your purchase price.</li>
			<li>A different return period may apply to accessory purchases. Prepaid services, e-coupons, software, and games are not refundable</li>
		</ul>
		<h5 class="mb20 color-gray-dark">Note:</h5>
		<p class="mb20">If your Device has not yet been delivered, simply refuse delivery of the package and the Device will be returned to T-Mobile.</p>
		<div class="mb35"><a href="#">Back to top</a></div>
		<div class="mb20"> <span class="icon-print-friendly"></span> <a href="#">Print-Friendly Version</a> </div>
	</div>
</div></main>
<!--/Main Content Section--> 
<!--Footer Section Start-->
<footer> </footer>
<!--/Footer Section-->

</body>
</html>