<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="UTF-8">
<title>T-Mobile Official Website - prepaid-active page</title>
<!--Temporarily disabled the "meta tag" for non-responsive layout-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="24x24" href="/tmo_24x24.png">
<link rel="apple-touch-icon" sizes="48x48" href="/tmo_48x48.png">
<link rel="apple-touch-icon" sizes="72x72" href="/tmo_72x72.png">

<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/css/lift-shift.css">
<link rel="stylesheet" type="text/css" href="../../../../../../../../etc/designs/tmo/lift-shift/compclientlibs/shared/page-comp-level/css/prepaid.css">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../../../../../../../etc/designs/tmus/thirdpartylibs/js/jquery-1.11.1.js"><\/script>')</script>
<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/frameworks-min.js"></script>
<script src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/js/lift-shift.js"></script>

<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>

<!--Header Section Start-->
<header id="header_body" class="header"> </header>
<!--/Header Section--> 

<!--Main Section Start-->
<main class="refill-account"> 
	<!--Header Links Section-->
	<div class="sub-header-links">
		<div class="container">
			<ul class="list-unstyled list-inline text-x-large text-uppercase lh2-0 pull-right">
				<li><a href="#">Active</a></li>
				<li><a href="#">Refill</a></li>
			</ul>
		</div>
	</div>
	<!--/Header Links Section--> 
	<!--Main Content Section Start-->
	<div class="container">
		<div class="box-holder mt50-sm"> 
			<!--Prepaid Section Start-->
			<div class="active-section">
				<h2 class="color-primary mb20">Set up and activate your <span class="no-wrap">T-Mobile</span> phone</h2>
				<p>Activating your new T-Mobile phone is quick and easy. Start by setting up your phone and account, and then choose a plan and service.</p>
				<a href="#" data-target="#activation-tip-iphone-modal" data-toggle="modal" class="mt10-sm show mb20-sm"><span class="video-icon mr5"></span>Get easy activation tips! Watch video</a>
				<div class="clearfix"></div>
				<hr class="border-gray mb30-sm">
				<div class="row">
					<div class="col-sm-6 col-ph-12 border-bottom-dotted-ph pb20-ph mb25-ph">
						<div class="row">
							<div class="col-sm-5 col-ph-12 col-sm-push-7">
								<figure class="text-center-ph"> <img class="img-responsive center-block" alt="iphone 1" title="iphone 1" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/iphone-1.jpg"> </figure>
							</div>
							<div class="col-sm-7 col-ph-12 col-sm-pull-5">
								<h4 class="color-gray-dark">iPhone activation</h4>
								<p class="pt15 lh-default">Check the activation tips below for help activating your iPhone. If you already have everything you need, click GET STARTED.</p>
								<div class="button-section pt50-sm">
									<div class="mb15">Ready to activate your iPhone?</div>
									<a href="#" class="btn btn-med btn-primary mb15 show text-bold">GET STARTED</a> <a href="#tab-iphone-activation" role="tab" data-toggle="tab" class="cta">View iphone activation tips</a> </div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-ph-12">
						<div class="row">
							<div class="col-sm-5 col-ph-12 col-sm-push-7">
								<figure class="text-center-ph"> <img class="img-responsive center-block" alt="iphone 1" title="iphone 1" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/ipad-1.jpg"> </figure>
							</div>
							<div class="col-sm-7 col-ph-12 col-sm-pull-5">
								<h4 class="color-gray-dark">Activate all other phones</h4>
								<p class="pt15 lh-default">For help activating Android, Windows, and BlackBerry smartphones, or all basic phones, review the activation tips. If you already have everything you need, click GET STARTED.</p>
								<div class="button-section pt30-sm">
									<div class="mb15">Ready to activate?</div>
									<a href="#" class="btn btn-med btn-primary mb15 show text-bold">GET STARTED</a> <a href="#tab-activation" role="tab" data-toggle="tab" class="cta">View activation tips</a> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/Prepaid Section--> 
			<!--Tablet Section Start-->
			<div class="active-section border-top-dotted-ph mt40">
				<h2 class="color-primary mb15-sm">Activate your Tablet or Hotspot</h2>
				<p>Starting T-Mobile service on your tablet or hotspot is quick and easy.</p>
				<div class="clearfix"></div>
				<hr class="border-gray mt30-sm mb30-sm">
				<div class="row">
					<div class="col-sm-12 col-ph-12 border-bottom-dotted-ph mb25-ph">
						<div class="row">
							<div class="col-sm-6 col-ph-12 col-sm-push-6">
								<figure class="text-center-ph"> <img class="img-responsive center-block" alt="iphone 1" title="iphone 1" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/ipad2.jpg"> </figure>
							</div>
							<div class="col-sm-6 col-ph-12 col-sm-pull-6">
								<h4 class="color-gray-dark">From your tablet or connected to your hotspot</h4>
								<p class="pt15 lh-default">Follow the simple activation tips below to start your T-Mobile service. Return to <a href="#">T‑Mobile.com/ConnectMe</a> from your tablet or hotspot at any time to check how much data you are using and get more high-speed data when you need it.</p>
								<div class="button-section pt50-sm">
									<div class="mb15">From your Tablet or Hotspot</div>
									<a href="#" class="btn btn-med btn-primary mb15 show text-bold">GET STARTED</a> <a href="#tab-tablet-activation" role="tab" data-toggle="tab" class="cta">View activation tips</a> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/Tablet Section--> 
			<!--Tab content Section starts-->
			<div class="support-tab tab-content">
				<div class="tab-pane p0" id="tab-iphone-activation" data-type="#tab-iphone-activation"> 
					<!--View iPhone activation tips start-->
					<section class="row active-phone">
						<h4 class="pl15 pb5"><span class="text-bold">iPhone activation tips:</span> What you'll need</h4>
						<div class="active-phone-border-top">
							<div class="row">
								<div class="col-sm-6 col-ph-12 pt20">
									<h4 class="activation-gradient-bg pt5 pb10 pl40-sm pl20-ph color-white pos-rel">Your phone</h4>
									<p class="h5 pl40-sm pl20-ph lh1-5 pb20-sm">Have your iPhone handy and turned on. The SIM is already installed.</p>
								</div>
								<div class="col-sm-6 col-ph-12 pt20 pb10"> </div>
							</div>
							<div class="clearfix"></div>
							<div class="border-bottom"></div>
							<div class="row">
								<div class="col-sm-6 col-ph-12 pt20">
									<h4 class="activation-gradient-bg pt5 pb10 pl40-sm pl20-ph color-white pos-rel">Activation code</h4>
									<p class="h5 pl40-sm pl20-ph lh1-5">The activation code is located in the activation booklet included with your phone.</p>
								</div>
								<div class="col-sm-6 col-ph-12 pt20 pb10">
									<figure><img class="center-block" alt="activation-code" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/prepaid/activation-code1.jpg"></figure>
								</div>
							</div>
							<div class="border-bottom"></div>
							<div class="row">
								<div class="col-sm-6 col-ph-12 pt20">
									<h4 class="activation-gradient-bg pt5 pb10 pl40-sm pl20-ph color-white pos-rel">ICCID number</h4>
									<p class="h5 pl40-sm pl20-ph lh1-5">Find the ICCID number on the back of the iPhone box. During the online set up, enter the ICCID number into the SIM card field when it is displayed.</p>
								</div>
								<div class="col-sm-6 col-ph-12 pt20 pb10">
									<figure><img class="center-block" alt="Sim number" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/prepaid/iccid-no.jpg"></figure>
								</div>
							</div>
							<div class="border-bottom"></div>
							<div class="row">
								<div class="col-sm-6 col-ph-12 pt20">
									<h4 class="activation-gradient-bg pt5 pb10 pl40-sm pl20-ph color-white pos-rel"> iPhone number (IMEI)</h4>
									<p class="h5 lh1-5 pl40-sm pl20-ph">You will also need the iPhone IMEI number to complete the setup process. It can be found on the back of the box or on your iPhone by tapping on Settings> General> About, and scrolling down to the IMEI section.</p>
									<p class="h5 lh1-5 pl40-sm pl20-ph">If you don't have the original box, you can get the IMEI number by dialing *#06# on the phone you want to activate.</p>
								</div>
								<div class="col-sm-6 col-ph-12 pt20 pb10">
									<figure><img class="center-block" alt="phone serial no. (IMEI)" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/prepaid/phone-number-IME.jpg"></figure>
								</div>
							</div>
							<div class="border-bottom"></div>
							<div class="row">
								<div class="col-sm-6 col-ph-12 pt20">
									<h4 class="activation-gradient-bg pt5 pb10 pl40-sm pl20-ph color-white pos-rel">Your current phone number</h4>
									<p class="h5 lh1-5 pl40-sm pl20-ph">You'll need to know the phone number that you wish to transfer from another carrier or from an existing T-Mobile line to your new pay in advance plan.</p>
									<div class="pl20 pt10 pb5
		                                 "><a target="_blank" title="Check eligibility " class="cta" href="#">Check eligibility</a></div>
									<p class="h5 lh1-5 pl40-sm pl20-ph">Using your own phone? You'll need a T-Mobile SIM Starter Kit, which contains a new SIM card and activation code.</p>
									<div class="pl20 pt10"><a title="Buy an activation kit here" class="cta" href="#">Buy a SIM Starter Kit here</a></div>
								</div>
								<div class="col-sm-6 col-ph-12 pt20">
									<figure><img class="center-block" alt="Your current phone number" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/prepaid/iphone-2.jpg"></figure>
								</div>
							</div>
							<div class="activephone-border-bottom"></div>
						</div>
					</section>
					<!-- Activation tips -->
					<div class="row mt20">
						<div class="col-sm-4">
							<h5 class="color-gray-dark mt10">Not an iPhone? <br class="hide-lg">
								<a class="cta" href="#">View tips on all other phones</a></h5>
						</div>
						<div class="col-sm-8 text-right-sm">
							<h4 class="mt20-ph">Ready to activate your iPhone? <a href="javascript:void(0)" class="ml20-sm mt10-ph mt10-sm mt0-md text-center color-white text-uppercase btn btn-med btn-primary text-bold">Get Started</a></h4>
							<a title="Activation Video" data-toggle="modal" data-target="#activation-tip-iphone-modal" href="#"><img class="mr5 mt-5" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/Activate-video-icon.png" >Get easy activation tips! Watch video</a>
						</div>
					</div>
					<!--/Activation tips --> 
					<!--View iPhone activation tips end--> 
				</div>
				<div class="tab-pane p0" id="tab-activation" data-type="#tab-activation"> 
					<!--View activation start-->
					<section class="row active-phone">
						<h4 class="pl15 pb5"><span class="text-bold">Activation tips for Android, Windows, BlackBerry, and all basic phones:</span> What you'll need</h4>
						<div class="active-phone-border-top">
							<div class="row">
								<div class="col-sm-6 col-ph-12 pt20">
									<h4 class="activation-gradient-bg pt5 pb10 pl40-sm pl20-ph color-white pos-rel">Your phone</h4>
									<p class="h5 pl40-sm pl20-ph lh1-5">Insert the mini SIM card and battery into the phone. Charge the phone so it's ready to use once activated.</p>
								</div>
								<div class="col-sm-6 col-ph-12 pt20 pb10">
									<figure><img class="center-block" alt="Sim card & battery" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/prepaid/accessories.jpg"></figure>
								</div>
							</div>
							<div class="border-bottom"></div>
							<div class="row">
								<div class="col-sm-6 col-ph-12 pt20">
									<h4 class="activation-gradient-bg pt5 pb10 pl40-sm pl20-ph color-white pos-rel">Activation code</h4>
									<p class="h5 pl40-sm pl20-ph lh1-5">The activation code is located in the activation booklet included with your phone.</p>
								</div>
								<div class="col-sm-6 col-ph-12 pt20 pb10">
									<figure><img class="center-block" alt="activation-code" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/prepaid/activation-code.jpg"></figure>
								</div>
							</div>
							<div class="border-bottom"></div>
							<div class="row">
								<div class="col-sm-6 col-ph-12 pt20">
									<h4 class="activation-gradient-bg pt5 pb10 pl40-sm pl20-ph color-white pos-rel">SIM card number</h4>
									<p class="h5 pl40-sm pl20-ph lh1-5">The SIM number is located on the SIM card.</p>
								</div>
								<div class="col-sm-6 col-ph-12 pt20 pb10">
									<figure><img class="center-block" alt="Sim number" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/prepaid/sim-card.jpg"></figure>
								</div>
							</div>
							<div class="border-bottom"></div>
							<div class="row">
								<div class="col-sm-6 col-ph-12 pt20">
									<h4 class="activation-gradient-bg pt5 pb10 pl40-sm pl20-ph color-white pos-rel">phone serial number(IMEI)</h4>
									<p class="h5 lh1-5 pl40-sm pl20-ph">Locate the phone serial (IMEI) number on the box your phone came in. It's also inside the phone, under the battery.</p>
									<p class="h5 lh1-5 pl40-sm pl20-ph">If you don't have the original box, you can get the IMEI number by dialing *#06# on the phone you want to activate.</p>
								</div>
								<div class="col-sm-6 col-ph-12 pt20 pb10">
									<figure><img class="center-block" alt="Sim number" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/prepaid/phone serial no-(IMEI).jpg"></figure>
								</div>
							</div>
							<div class="border-bottom"></div>
							<div class="row">
								<div class="col-sm-6 col-ph-12 pt20">
									<h4 class="activation-gradient-bg pt5 pb10 pl40-sm pl20-ph color-white pos-rel">Your current phone number</h4>
									<p class="h5 lh1-5 pl40-sm pl20-ph">You'll need to know the phone number that you wish to transfer from another carrier or from an existing T-Mobile line to your new pay in advance plan.</p>
									<div class="pl20 pt10 pb5
	                                 "><a target="_blank" title="Check eligibility " class="cta" href="#">Check eligibility</a></div>
									<p class="h5 lh1-5 pl40-sm pl20-ph">Using your own phone? You'll need a T-Mobile SIM Starter Kit, which contains a new SIM card and activation code.</p>
									<div class="pl20 pt10"><a title="Buy an activation kit here" class="cta" href="#">Buy a SIM Starter Kit here</a></div>
								</div>
								<div class="col-sm-6 col-ph-12 pt20">
									<figure><img class="center-block" alt="Your current phone number" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/prepaid/current-phone.jpg"></figure>
								</div>
							</div>
							<div class="activephone-border-bottom"></div>
						</div>
					</section>
					<!--View activation end--> 
					<!-- Activation tips iphone -->
					<div class="row mt20">
						<div class="col-sm-4">
							<h5 class="color-gray-dark mt10">looking for iPhone tips? <br class="hide-lg">
								<a class="cta" href="#">View iphone tips</a></h5>
						</div>
						<div class="col-sm-8 text-right-sm">
							<h4 class="mt20-ph">Ready? Let's do it. <a href="javascript:void(0)" class="ml20-sm mt10-ph mt10-sm mt0-md text-center color-white text-uppercase btn btn-med btn-primary text-bold">Activate</a></h4>
							<a title="Activation Video" data-toggle="modal" data-target="#activation-tip-iphone-modal" href="#"><img class="mr5 mt-5" src="../../../../../../../../etc/designs/tmo/lift-shift/globallibs/shared/img/Activate-video-icon.png" >Get easy activation tips! Watch video</a> </div>
					</div>
					<!--/Activation tips iphone --> 
				</div>
				<div class="tab-pane p0" id="tab-tablet-activation" data-type="#tab-tablet-activation"> 
					<!--activate tips for tablet starts-->
					<h4 class="text-bold border-bottom border-primary pl15 pb10 border-3x ml15 mr15">Activation tips for Tablet or Hotspot</h4>
					<div class="row">
						<div class="col-ph-12 col-sm-6">
							<h4 class="activation-gradient-bg pt5 pb10 pl30-sm pl20-ph color-white pos-rel text-bold mt10">To activate your tablet</h4>
							<ol class="pl20 lh2-0 ml15 mr15">
								<li>Insert the T-Mobile SIM card into your tablet then turn on or restart</li>
								<li>Turn off Wi-Fi in your device settings. Turn on mobile data in your device settings</li>
								<li><b>From your tablet’s Internet browser:</b>
									<ol class="pl20 list-alphabet-type" >
										<li>Go to <a href="javascript:void(0)">T-Mobile.com/ConnectMe</a></li>
										<li>Follow the on-screen steps to complete activation </li>
									</ol>
								</li>
								<li><b>From your iPad:</b>
									<ol class="pl20 list-alphabet-type">
										<li>Go to the home screen > Settings > Cellular Data > View Account</li>
										<li>Follow on-screen steps to complete activation</li>
									</ol>
								</li>
							</ol>
						</div>
						<div class="col-ph-12 col-sm-6"> </div>
					</div>
					<hr class="border-top border-gray ml15 mr15 mt10">
					<div class="row">
						<div class="col-ph-12 col-sm-6">
							<h4 class="activation-gradient-bg pt5 pb10 pl30-sm pl20-ph color-white pos-rel text-bold">To activate your hotspot</h4>
							<ol class="pl20 ml15 mr15 lh2-0">
								<li>Insert the T-Mobile SIM card into hotspot</li>
								<li>Use a different device (laptop, tablet, phone) to connect to your hotspot’s Wi-Fi signal</li>
								<li>Go to <a href="javascript:void(0)">T-Mobile.com/ConnectMe</a></li>
								<li>Follow steps to activate data service for your hotspot</li>
							</ol>
						</div>
						<div class="col-ph-12 col-sm-6"> </div>
					</div>
					<!--activate tips for tablet ends--> 
				</div>
			</div>
			<!--/Tab content Section-->
			<div class="freeshipping-section">
				<h6 class="mt50  mb20 color-primary text-bold border-top border-bottom border-gray-light pt15 pb15">FREE SHIPPING on ALL DEVICES</h6>
			</div>
		</div>
		<p class="legal"> <b>General Terms:</b> $10 SIM starter kit may be required. Sufficient balance required to use service. Domestic use only; additional charges apply for international use. Calls rated on a per-minute basis. Partial minutes rounded up. No data roaming </p>
		<p class="legal mb30"> For up to 180 days after activation, devices purchased and/or activated at certain locations will only work on the T-Mobile network with the SIMs included at activation. </p>
	</div>
	
	<!-- Model popup -->
	<div class="modal fade" id="activation-tip-iphone-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="pt10 pr10 text-right">
					<ul>
						<a href="javascript:void(0)"><span class="icon-ui icon-close-mgt" data-dismiss="modal" aria-hidden="true"></span></a>
					</ul>
				</div>
				<div class="modal-body clearfix">
					<video id="ui_learn-about-account" class="video-js vjs-default-skin col-100p" poster="https://brightcove01-secure.brightcove.com/6/1403111602001/201402/1278/1403111602001_3194101833001_Activation-Tips-960x540.jpg?pubId=1403111602001" controls preload="auto">
						<source src="https://brightcove01-secure.brightcove.com/6/1403111602001/201401/1593/1403111602001_3127986866001_TMO1-1069-Prepaid-Activation-Video-Final-012414-H264.mp4" type="video/mp4">
						<source src="https://brightcove01-secure.brightcove.com/6/1403111602001/201401/1593/1403111602001_3127986866001_TMO1-1069-Prepaid-Activation-Video-Final-012414-H264.webm" type="video/webm">
						<source src="https://brightcove01-secure.brightcove.com/6/1403111602001/201401/1593/1403111602001_3127986866001_TMO1-1069-Prepaid-Activation-Video-Final-012414-H264.ogv" type="video/ogg">
					</video>
				</div>
			</div>
		</div>
	</div>
	<!-- /Model popup --> 
	<!--/Main Content Section--> 
</main>
<!--/Main Section--> 
<!--Footer Section Start-->
<footer> </footer>
<!--/Footer Section--> 
<script>
	

</script>
</body>
</html>